In [1]:
URL = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

In [2]:
import requests
import bs4
from bs4 import BeautifulSoup
# web scraping
# imrt urllib.request
from bs4 import BeautifulSoup
import re
#Data and analysis
import numpy as np
import pandas as pd
import statsmodels.formula.api as sm
from sklearn import preprocessing, linear_model, metrics
from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re
# Plotting
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_row', 1000)

%matplotlib inline
params = {'legend.fontsize': 'x-large',
          'figure.figsize': (10, 6),
         'axes.labelsize': 'x-large',
         'axes.titlesize': 20,
         'xtick.labelsize':'x-large',
         'ytick.labelsize':'x-large'}
plt.rcParams.update(params)

In [5]:
df = pd.read_csv('/Users/natalie/Desktop/GA/project_3_data/df-cleaned.csv')

## Predicting salaries using Random Forests + Another Classifier

#### Load in the the data of scraped salaries

In [6]:
df.head()

,Job,Company,Location,Description,Starting Salary ($),Ending Salary ($),State,Average Salary ($)
0,DATA SCIENTIST,First Derivatives,New York,Data Scientists explore vast amounts of inform...,70000.0,80000.0,NY,75000.0
1,DATA SCIENTIST,MetroPlus Health Plan,New York,The Data Scientist will be tasked with leading...,90000.0,115000.0,NY,102500.0
2,DATA SCIENTIST,Enterprise Select,New York,"Financial Services data such as transactions, ...",185000.0,185000.0,NY,185000.0
3,DATA ANALYST,POLICE DEPARTMENT,New York,"Extensive knowledge of applied statistics, ana...",70286.0,88213.0,NY,79249.5
4,DATA SCIENTIST - NEURAL NETWORKS,Geode Executive Search,New York,A well-known tech company in New York is looki...,130000.0,130000.0,NY,130000.0

In [7]:
df.shape

(424, 8)

In [8]:
df.describe()

       Starting Salary ($)  Ending Salary ($)  Average Salary ($)
count           424.000000         424.000000          424.000000
mean         111303.523585      139796.660377       125550.091981
std           43629.959843       54853.719907        47555.108835
min           20000.000000       25000.000000        22500.000000
25%           76320.500000      100000.000000        90000.000000
50%          110000.000000      140000.000000       125000.000000
75%          140000.000000      180000.000000       160000.000000
max          300000.000000      309750.000000       300000.000000

In [9]:
median = df['Average Salary ($)'].median()

In [10]:
min = df['Average Salary ($)'].min()

In [11]:
median

125000.0

In [12]:
def greater_med(m):
    if m >= median:
        return 1
    return 0

df['Above Median 125k'] = df['Average Salary ($)'].apply(greater_med)

In [13]:
df.head()

,Job,Company,Location,Description,Starting Salary ($),Ending Salary ($),State,Average Salary ($),Above Median 125k
0,DATA SCIENTIST,First Derivatives,New York,Data Scientists explore vast amounts of inform...,70000.0,80000.0,NY,75000.0,0
1,DATA SCIENTIST,MetroPlus Health Plan,New York,The Data Scientist will be tasked with leading...,90000.0,115000.0,NY,102500.0,0
2,DATA SCIENTIST,Enterprise Select,New York,"Financial Services data such as transactions, ...",185000.0,185000.0,NY,185000.0,1
3,DATA ANALYST,POLICE DEPARTMENT,New York,"Extensive knowledge of applied statistics, ana...",70286.0,88213.0,NY,79249.5,0
4,DATA SCIENTIST - NEURAL NETWORKS,Geode Executive Search,New York,A well-known tech company in New York is looki...,130000.0,130000.0,NY,130000.0,1

In [14]:
## YOUR CODE HERE

#### Thought experiment: What is the baseline accuracy for this model?

In [15]:
# ## YOUR CODE HERE
# It is 50/50 becuase we are spliting on the median

In [16]:
df['Location'].nunique()

94

# getting dummies for local & Intial random trees

In [17]:
def get_dummy_locs(data):
    return pd.get_dummies(data)

State_df = pd.concat([get_dummy_locs(df['State'])], axis=1)
location_df = pd.concat([get_dummy_locs(df['Location']),get_dummy_locs(df['State'])], axis=1)

In [62]:
def eda(dataframe):
    # This is the EDA function Ritika wrote and showed us. It is wonderful.
    print "Missing Values \n \n", dataframe.isnull().sum(),"\n"
    print "Duplicate Rows \n", dataframe.duplicated().sum(),"\n" # Added this
    print "Dataframe Types \n \n", dataframe.dtypes,"\n"
    print "Dataframe Shape \n", dataframe.shape,"\n"
    print "Dataframe Describe \n \n", dataframe.describe(include='all'),"\n"
    for feature in dataframe: # Prints unique values for each column
        print feature
        print dataframe[feature].nunique()

In [63]:
eda(State_df)

Missing Values

AL    0
AZ    0
CA    0
CO    0
DC    0
DE    0
FL    0
GA    0
IL    0
MA    0
MD    0
MI    0
MN    0
MO    0
NC    0
NV    0
NY    0
OH    0
OK    0
OR    0
PA    0
TN    0
TX    0
UT    0
VA    0
WA    0
dtype: int64

Duplicate Rows
398

Dataframe Types

AL    uint8
AZ    uint8
CA    uint8
CO    uint8
DC    uint8
DE    uint8
FL    uint8
GA    uint8
IL    uint8
MA    uint8
MD    uint8
MI    uint8
MN    uint8
MO    uint8
NC    uint8
NV    uint8
NY    uint8
OH    uint8
OK    uint8
OR    uint8
PA    uint8
TN    uint8
TX    uint8
UT    uint8
VA    uint8
WA    uint8
dtype: object

Dataframe Shape
(424, 26)

Dataframe Describe

               AL          AZ          CA          CO          DC          DE  \
count  424.000000  424.000000  424.000000  424.000000  424.000000  424.000000
mean     0.002358    0.016509    0.238208    0.007075    0.049528    0.004717
std      0.048564    0.127575    0.426490    0.083917    0.217225    0.068599
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

               FL          GA          IL          MA          MD          MI  \
count  424.000000  424.000000  424.000000  424.000000  424.000000  424.000000
mean     0.021226    0.035377    0.061321    0.018868    0.040094    0.002358
std      0.144309    0.184950    0.240201    0.136219    0.196412    0.048564
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

               MN          MO          NC          NV          NY          OH  \
count  424.000000  424.000000  424.000000  424.000000  424.000000  424.000000
mean     0.004717    0.021226    0.037736    0.002358    0.273585    0.011792
std      0.068599    0.144309    0.190782    0.048564    0.446325    0.108078
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    1.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

               OK          OR          PA          TN          TX          UT  \
count  424.000000  424.000000  424.000000  424.000000  424.000000  424.000000
mean     0.002358    0.002358    0.044811    0.002358    0.037736    0.007075
std      0.048564    0.048564    0.207134    0.048564    0.190782    0.083917
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

               VA          WA
count  424.000000  424.000000
mean     0.023585    0.030660
std      0.151931    0.172599
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      0.000000    0.000000
max      1.000000    1.000000

AL
2
AZ
2
CA
2
CO
2
DC
2
DE
2
FL
2
GA
2
IL
2
MA
2
MD
2
MI
2
MN
2
MO
2
NC
2
NV
2
NY
2
OH
2
OK
2
OR
2
PA
2
TN
2
TX
2
UT
2
VA
2
WA
2

In [18]:
## YOUR CODE HERE
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier
from sklearn.cross_validation import cross_val_score, StratifiedKFold
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from bs4 import BeautifulSoup
import pandas as pd
# import requests
import xgboost
import re

/Users/natalie/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [19]:
location_df.head()

,Alexandria,Arlington,Atlanta,Auburn,Austin,Baltimore,Bethesda,Beverly Hills,Birmingham,Boston,Boulder,Brisbane,Brooklyn,Calabasas,Campbell,Cary,Charlotte,Chicago,Cincinnati,Clayton,Cleveland,Columbia,Coral Gables,Dallas,Dania Beach,...,AZ,CA,CO,DC,DE,FL,GA,IL,MA,MD,MI,MN,MO,NC,NV,NY,OH,OK,OR,PA,TN,TX,UT,VA,WA
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

## First lets random forest with just state dummies, this will be useful for viz later.

In [20]:
y = df['Above Median 125k']
X = State_df
cv = StratifiedKFold(y, n_folds=3, shuffle=True, random_state=41)

In [21]:
dt = RandomForestClassifier(class_weight='balanced')
dt.fit(X,y)
s = cross_val_score(dt, X, y, cv=cv)
print "{} Score:\t{:0.3} ± {:0.3}".format("Random Forest with Balanced Classes", s.mean().round(3), s.std().round(3))

Random Forest with Balanced Classes Score:	0.651 ± 0.04

In [22]:
importance_dataframe_big = pd.DataFrame(dt.feature_importances_, X.columns, columns=['importance']).sort_values('importance', ascending=False)
importance_dataframe_big.to_csv('States_for_Tabby.csv',index = False)
importance_dataframe_big.head(100)

    importance
CA    0.213731
GA    0.145161
MD    0.120197
FL    0.079320
IL    0.059136
TX    0.052173
NY    0.039189
UT    0.030015
NC    0.024136
AZ    0.023882
VA    0.022829
DE    0.020997
DC    0.018823
CO    0.018763
OH    0.017652
PA    0.016499
MA    0.014202
NV    0.013157
MO    0.011907
OR    0.011032
WA    0.010328
MI    0.009341
OK    0.009063
MN    0.007976
TN    0.006505
AL    0.003986

## now lets try it with both location dummies and see if it improves our score and feature importance

In [23]:
y = df['Above Median 125k']
X = location_df
cv = StratifiedKFold(y, n_folds=3, shuffle=True, random_state=41)

In [24]:
dt = RandomForestClassifier(class_weight='balanced')
dt.fit(X,y)
s = cross_val_score(dt, X, y, cv=cv, n_jobs=-1)
print "{} Score:\t{:0.3} ± {:0.3}".format("Random Forest with Balanced Classes", s.mean().round(3), s.std().round(3))

Random Forest with Balanced Classes Score:	0.738 ± 0.04

In [25]:
importance_dataframe_big1 = pd.DataFrame(dt.feature_importances_, index = X.columns, columns=['importance']).sort_values('importance', ascending=False)
importance_dataframe_big1.head(100)

                        importance
New York                  0.089585
CA                        0.077985
San Francisco             0.075359
San Jose                  0.038242
GA                        0.034815
Charlotte                 0.026100
NY                        0.025505
Atlanta                   0.025169
Queens                    0.024524
Boston                    0.024499
FL                        0.023861
Manhattan                 0.022267
MD                        0.020350
TX                        0.017895
El Dorado Hills           0.017370
Houston                   0.016891
NC                        0.015285
Chicago                   0.014463
VA                        0.012581
San Diego                 0.012069
Palo Alto                 0.012017
San Mateo                 0.011885
Reston                    0.011831
Austin                    0.009925
AZ                        0.009717
Baltimore                 0.009344
Santa Clara               0.008999
MA                        0.008682
Philadelphia              0.008292
PA                        0.008137
Redwood City              0.007986
Minneapolis               0.007864
Arlington                 0.007436
DC                        0.007078
Wilmington                0.006908
Calabasas                 0.006699
Los Angeles               0.006671
Seattle                   0.006616
Redmond                   0.005997
Los Altos                 0.005865
Pasadena                  0.005712
CO                        0.005657
Woodland Hills            0.005323
San Ramon                 0.005291
Elk Grove                 0.005209
Northbrook                0.005127
NV                        0.005125
IL                        0.005053
DE                        0.004995
WA                        0.004982
Raleigh-Durham            0.004858
Milpitas                  0.004706
Beverly Hills             0.004680
Washington                0.004600
OH                        0.004593
Boulder                   0.004591
Pleasanton                0.004549
Dallas                    0.004431
Alexandria                0.004305
OR                        0.004285
MO                        0.004259
Silicon Valley            0.004099
Sunnyvale                 0.004070
UT                        0.004022
Clayton                   0.004006
Denver                    0.004003
AL                        0.003783
Miami                     0.003606
Salt Lake City            0.003541
Silver Spring             0.003377
Horsham                   0.003239
Perry                     0.003155
Duluth                    0.003137
Santa Monica              0.002973
Cary                      0.002930
St. Louis                 0.002842
Cincinnati                0.002831
Roswell                   0.002779
Walpole                   0.002752
San Francisco Bay Area    0.002739
Rocky River               0.002638
West Hollywood            0.002489
Millington                0.002484
Newton                    0.002469
Campbell                  0.002405
Auburn                    0.002342
Portland                  0.002301
Cleveland                 0.002099
Springfield               0.002088
Dania Beach               0.001920
Pittsburgh                0.001820
MN                        0.001817
Scottsdale                0.001667
Fort Meade                0.001521
Newport Beach             0.001459
Saint Paul                0.001418
Brisbane                  0.001345
Morrisville               0.001317
Oklahoma City             0.001253
Tampa                     0.001113

# Lets model with some job title keyword dummies
## using frequency I went with lead, senior, machine,python

In [26]:
df_boo_jobs = df
df_boo_jobs['Lead'] = df_boo_jobs['Job'].str.contains('LEAD')==True

In [27]:
df_boo_jobs

,Job,Company,Location,Description,Starting Salary ($),Ending Salary ($),State,Average Salary ($),Above Median 125k,Lead
0,DATA SCIENTIST,First Derivatives,New York,Data Scientists explore vast amounts of inform...,70000.0,80000.0,NY,75000.0,0,False
1,DATA SCIENTIST,MetroPlus Health Plan,New York,The Data Scientist will be tasked with leading...,90000.0,115000.0,NY,102500.0,0,False
2,DATA SCIENTIST,Enterprise Select,New York,"Financial Services data such as transactions, ...",185000.0,185000.0,NY,185000.0,1,False
3,DATA ANALYST,POLICE DEPARTMENT,New York,"Extensive knowledge of applied statistics, ana...",70286.0,88213.0,NY,79249.5,0,False
4,DATA SCIENTIST - NEURAL NETWORKS,Geode Executive Search,New York,A well-known tech company in New York is looki...,130000.0,130000.0,NY,130000.0,1,False
5,GEOSPATIAL DATA SCIENTIST,DEPARTMENT OF FINANCE,Manhattan,The Property Valuation &amp; Mapping Unit is s...,70286.0,81000.0,NY,75643.0,0,False
6,CLIENT FACING PYTHON ENGINEERS FOR A.I DATA CO...,Birch & James Associates Limited,New York,An interest in machine learning and/or data sc...,70000.0,110000.0,NY,90000.0,0,False
7,DATA MANAGER/STATISTICIAN,Stony Brook University,Stony Brook,Compliant data analysis. Biostatistics and dat...,52000.0,62000.0,NY,57000.0,0,False
8,DATA ANALYST/MODELER,DEPARTMENT OF FINANCE,Brooklyn,"Strong programming, data analysis, statistical...",70286.0,80829.0,NY,75557.5,0,False
9,POLICY DATA ANALYST,DEPARTMENT OF FINANCE,Manhattan,"Strong quantitative and research skills, inclu...",70286.0,80829.0,NY,75557.5,0,False
10,DATA SCIENTIST,Oliver James Associates,New York,Perform Data Analysis and data manipulation on...,180000.0,180000.0,NY,180000.0,1,False
11,"DATA MANAGER – RESEARCHER, BUREAU OF CHILDREN,...",DEPT OF HEALTH/MENTAL HYGIENE,New York,Experience designing and conducting analyses o...,70286.0,80829.0,NY,75557.5,0,False
12,ENERGY DATA POLICY ADVISOR,DEPT OF ENVIRONMENT PROTECTION,Manhattan,Benchmarking Data Disclosure. Manage process o...,59708.0,72246.0,NY,65977.0,0,False
13,SENIOR DATA ENGINEER,Enterprise Select,New York,"Ensure data pipeline provides clean organized,...",140000.0,140000.0,NY,140000.0,1,False
14,"RESEARCHER/DATA ANALYST, BUREAU OF MENTAL HEALTH",DEPT OF HEALTH/MENTAL HYGIENE,Queens,Conduct analysis on both survey data and on la...,70286.0,80829.0,NY,75557.5,0,False
15,"SENIOR DATA SCIENTIST FOR GLOBAL, MULTI-BILLIO...",Averity,New York,Are you a Senior Data Scientist looking to joi...,130000.0,160000.0,NY,145000.0,1,False
16,DIRECTOR OF DATA SCIENCE,Robert Walters,New York,The Director of Data Science for Ad-Tech will ...,180000.0,220000.0,NY,200000.0,1,False
17,DATA ANALYST,HRA/DEPT OF SOCIAL SERVICES,Manhattan,The Data Analyst will:. Experience with data v...,57969.0,62000.0,NY,59984.5,0,False
18,DATA SCIENTISTS,Smith Hanley Associates,New York,2-4 years of data science experience. Translat...,100000.0,120000.0,NY,110000.0,0,False
19,SENIOR DATA SCIENTIST,Analytic Recruiting,New York,Major insurance company seeks an experienced S...,160000.0,160000.0,NY,160000.0,1,False
20,PRINCIPAL DATA SCIENTIST,Oliver James Associates,New York,Manage highly complex analytical projects from...,140000.0,180000.0,NY,160000.0,1,False
21,DIRECTOR OF DATA SCIENCE (STARTUP),Averity,New York,This is a great opportunity for an experienced...,160000.0,180000.0,NY,170000.0,1,False
22,"PECO DATA ANALYST, BUREAU OF EMERGENCY FIELD O...",DEPT OF HEALTH/MENTAL HYGIENE,Manhattan,"Experience managing, cleaning, analyzing and r...",59708.0,65678.0,NY,62693.0,0,False
23,SENIOR DATA SCIENTIST (CONSULTING EXPERIENCE),Averity,New York,We are growing rapidly and are looking for a g...,140000.0,175000.0,NY,157500.0,1,False
24,DATA ENGINEER,Robert Walters,New York,The Data Engineer will support the Data Scient...,120000.0,130000.0,NY,125000.0,1,False
25,DATA SCIENTIST,Execu | Search,New York,The Data Scientist will be responsible for:. S...,100000.0,200000.0,NY,150000.0,1,False
26,DATA SCIENTIST,Isaacson Search Company,New York,"Data Scientist, Big Data, SQL, NoSQL, C++, Pyt...",150000.0,250000.0,NY,200000.0,1,False
27,"DATA ANALYST, BUREAU OF DIVISION MANAGEMENT/CE...",DEPT OF HEALTH/MENTAL HYGIENE,Queens,O Staff training data o All-staff survey data ...,59708.0,65678.0,NY,62693.0,0,False
28,"DATA SCIENTIST, MARKETING ANALYTICS",Analytic Recruiting,New York,"Data Scientist a.k.a. Data Scientist, Marketin...",75000.0,100000.0,NY,87500.0,0,False
29,SENIOR DATA SCIENTIST,Smith Hanley Associates,New York,Senior Data Scientist. 5-10 years of data scie...,130000.0,160000.0,NY,145000.0,1,False
30,"RESEARCH DATA ANALYST , BUREAU OF VETERINARY A...",DEPT OF HEALTH/MENTAL HYGIENE,Manhattan,-Create visualizations and presentations summa...,59708.0,65678.0,NY,62693.0,0,False
31,"DATA ANALYST, BUREAU OF PRIMARY CARE INFORMATI...",DEPT OF HEALTH/MENTAL HYGIENE,Queens,O data visualizations of new data sources; Dat...,70286.0,80829.0,NY,75557.5,0,False
32,"DATA ANALYST, BUREAU OF IMMUNIZATION",DEPT OF HEALTH/MENTAL HYGIENE,New York,"Review program data, assuring data quality and...",59708.0,72246.0,NY,65977.0,0,False
33,LEAD DATA SCIENTIST,Robert Walters,New York,About the Lead Data Scientist:. A Global leade...,110000.0,140000.0,NY,125000.0,1,True
34,DATA SCIENTIST,Metropolitan Police Department,Washington,Or data visualization and interaction. The Dat...,76082.0,97340.0,DC,86711.0,0,False
35,DATA SCIENTIST,Central Intelligence Agency,Washington,Data Scientists organize and interpret Big Dat...,62338.0,119794.0,DC,91066.0,0,False
36,DATA SCIENTIST,Piper Companies,Reston,Responsibilities for the Lead Data Scientist i...,200000.0,220000.0,VA,210000.0,1,False
37,IFG DATA SCIENTIST WHIZ!,Interface Financial Group (IFG),Bethesda,Data Scientists need to analyze financial data...,120000.0,120000.0,MD,120000.0,0,False
38,DATA SCIENTIST,National Geospatial-Intelligence Agency,Springfield,"Data Scientist **AMENDED**. Data Management, D...",52329.0,129553.0,VA,90941.0,0,False
39,DATA SCIENTIST,Robert Walters,Washington,About the Data Scientist:. Key Responsibilitie...,80000.0,100000.0,DC,90000.0,0,False
40,DATA SCIENTIST TS/SCI WITH CI POLY,"Innovative, Information, and Intelligence Solu...",Bethesda,The Data Scientist shall provide data analysis...,145000.0,160000.0,MD,152500.0,1,False
41,SENIOR DATA SCIENTIST,Piper Companies,Reston,Responsibilities for the Lead Data Scientist i...,200000.0,220000.0,VA,210000.0,1,False
42,STATISTICAL DATA ANALYST - US CITIZEN,PeopleTek,Bethesda,STATISTICAL DATA ANALYST*. \uf0b7 Extract insi...,60000.0,70000.0,MD,65000.0,0,False
43,DATA SCIENTIST,Central Intelligence Agency,Washington,Data Scientists organize and interpret Big Dat...,62338.0,119794.0,DC,91066.0,0,False
44,DATA SCIENTIST - MID-LEVEL,National Security Agency,Fort Meade,"Exploit, fuse and use data and data sources. A...",79334.0,105663.0,MD,92498.5,0,False
45,DATA SCIENTIST ( CHINESE SPEAKING / DEEP LEARN...,Venturi Ltd,Washington,As the Senior Data Scientist you will:. Senior...,90000.0,125000.0,DC,107500.0,0,False
46,"DATA SCIENTIST, MACHINE LEARNING (PERM - DC)",Compri,Washington,Compri Consulting's global client is seeking a...,110000.0,110000.0,DC,110000.0,0,False
47,DATA SCIENTIST - OUSD(I)-HCMO-DCIPS,Red Gate Group,Arlington,Data Scientist (full-time contract). Under thi...,100000.0,125000.0,VA,112500.0,0,False
48,BIG DATA CLOUD ARCHITECT,Qlaire Systems Inc.,Washington,Demonstrated understanding of Master data Mana...,150000.0,150000.0,DC,150000.0,1,False
49,JAVA/BIG DATA ENGINEER,Jobspring Partners,Washington,These applications are transforming traditiona...,100000.0,130000.0,DC,115000.0,0,False
50,RESEARCH DATA ANALYST,Johns Hopkins University,Baltimore,Provides data verification based on specialize...,43871.0,60402.0,MD,52136.5,0,False
51,SR. RESEARCH DATA ANALYST,Johns Hopkins University,Baltimore,Carry out data analyses in parallel on large c...,50956.0,70095.0,MD,60525.5,0,False
52,SOFTWARE DATA SCIENTIST,CyberCoders,Walpole,Software Data Scientist Data Scientists with s...,100000.0,140000.0,MA,120000.0,0,False
53,DATA ANALYTICS ENGINEER,CEI,Philadelphia,Data Analytics Engineer*. An experienced data ...,85000.0,85000.0,PA,85000.0,0,False
54,DATA SCIENTIST,Smith Hanley Associates,Philadelphia,Data Scientist Qualifications:. Data Scientist...,120000.0,140000.0,PA,130000.0,1,False
55,"DATA SCIENTIST - MACHINE LEARNING, TEAM BUILDOUT",Workbridge Associates,Philadelphia,Experience creating Data Visualization; They d...,70000.0,125000.0,PA,97500.0,0,False
56,"DATA ANALYST/SCIENTIST (SAS, PYTHON, SQL)",Jobspring Partners,Philadelphia,A health services company that leverages techn...,90000.0,120000.0,PA,105000.0,0,False
57,"DATA SCIENTIST (R, SAS, PYTHON)",Jobspring Partners,Philadelphia,A global leader in sensor solutions is looking...,90000.0,130000.0,PA,110000.0,0,False
58,DATA SCIENTIST/OPTIMIZATION ENGINEER,Jobspring Partners,Philadelphia,In this role you will be extracting power plan...,100000.0,125000.0,PA,112500.0,0,False
59,DATA SCIENTIST/MACHINE LEARNING SPECIALIST,Jobspring Partners,Philadelphia,"A leading healthcare analytical team, one of t...",100000.0,160000.0,PA,130000.0,1,False
60,SENIOR DATA SCIENTIST HEALTHCARE,Harnham,Philadelphia,Senior Data Scientist - Healthcare. Reporting ...,170000.0,170000.0,PA,170000.0,1,False
61,SENIOR STATISTICIAN/DATA SCIENTIST-PHARMA,Smith Hanley Associates,Horsham,Statistician/Data Scientist Responsibilities. ...,120000.0,120000.0,PA,120000.0,0,False
62,DATA SCIENTIST,Liberty Personnel Services,Wilmington,Data Scientist \u2013 Financial Environment \u...,140000.0,140000.0,DE,140000.0,1,False
63,DATA SCIENTIST,Robert Walters,New York,About the Data Scientist:. Key Responsibilitie...,80000.0,120000.0,NY,100000.0,0,False
64,DATA SCIENTIST,Averity,New York,"Our team is made up of five data scientists, a...",125000.0,140000.0,NY,132500.0,1,False
65,LEAD DATA SCIENTIST – LIFE INSURANCE,Oliver James Associates,New York,Passionate about Data Science. Do you want to ...,160000.0,210000.0,NY,185000.0,1,True
66,SENIOR DATA SCIENTIST,Harnham,New York,Senior Data Scientist - Consulting. As a Senio...,180000.0,180000.0,NY,180000.0,1,False
67,SR. MODELING DATA SCIENTIST,S.C. International,New York,Large insurance organization is seeking talent...,130000.0,130000.0,NY,130000.0,1,False
68,DATA/RESEARCH ANALYST,"Eagle Technologies, Incorporated",Arlington,This individual will work with other data anal...,50000.0,89000.0,VA,69500.0,0,False
69,SENIOR DATA ENGINEER,Piper Companies,Reston,Collaborate with a team of other data engineer...,190000.0,200000.0,VA,195000.0,1,False
70,COMPUTATIONAL IMAGE DATA ANALYSIS MANAGER,Medical Science & Computing,Bethesda,Analysis of biopsy and resection samples from ...,100000.0,100000.0,MD,100000.0,0,False
71,DATA SCIENTIST,Jobspring Partners,Washington,Metro areas fastest growing data analytics sta...,100000.0,150000.0,DC,125000.0,1,False
72,SENIOR NLP DATA SCIENTIST,Elevano,New York,Parsing of structured/unstructured data. Our c...,140000.0,190000.0,NY,165000.0,1,False
73,SR. DATA SCIENTIST FOR FORTUNE 500 COMPANY,Averity,New York,Are you an experienced Senior Data Scientist l...,150000.0,190000.0,NY,170000.0,1,False
74,DATA SCIENTIST - MODELING,Harnham,New York,Data Scientist - Modeling. As a Data Scientist...,125000.0,125000.0,NY,125000.0,1,False
75,SENIOR DATA ENGINEER ( SEARCH / IR / PYTHON / ...,Venturi Ltd,New York,Senior Data Engineer / Search / IR / Python / ...,100000.0,250000.0,NY,175000.0,1,False
76,PRINCIPAL DATA SCIENTIST,Robert Walters,New York,About the Principal Data Scientist:. In these ...,130000.0,160000.0,NY,145000.0,1,False
77,DATA SCIENTIST,Workbridge Associates,Philadelphia,In this role you will be a large part of data ...,125000.0,130000.0,PA,127500.0,1,False
78,DATA SCIENTIST - RETAIL BANKING,Harnham,New York,Our client is interested in hiring a Data Scie...,120000.0,120000.0,NY,120000.0,0,False
79,CORPORATE VICE PRESIDENT DATA SCIENTIST - FRAU...,Oliver James Associates,New York,Passionate about Data Science. You will work c...,180000.0,180000.0,NY,180000.0,1,False
80,"VP, DATA SCIENTIST - BANKING",Harnham,New York,"VP, Data Scientist - Banking. Data Scientist |...",180000.0,180000.0,NY,180000.0,1,False
81,CHIEF DATA SCIENTIST - CONSULTING,Harnham,New York,Chief Data Scientist - Consulting. Chief Data ...,220000.0,220000.0,NY,220000.0,1,False
82,SENIOR DATA ANALYST ( EDTECH / R / DATAVIZ / D...,Venturi Ltd,New York,"Senior Data Analyst, R Programming, Education,...",100000.0,100000.0,NY,100000.0,0,False
83,SENIOR DATA ANALYST,Venturi,New York,Senior Data Analyst ( R / EdTech / DataViz / D...,100000.0,100000.0,NY,100000.0,0,False
84,DATA ENGINEER,Venturi,New York,Data Scientist / Machine Learning Engineer / M...,110000.0,170000.0,NY,140000.0,1,False
85,SENIOR DATA SCIENTIST - MODELING,Harnham,New York,Senior Data Scientist - Modeling. As a Senior ...,150000.0,150000.0,NY,150000.0,1,False
86,LEAD DATA SCIENTIST,Oliver James Associates,New York,"Integrate and mine large data sets, connecting...",100000.0,140000.0,NY,120000.0,0,True
87,LEAD / SENIOR DATA SCIENTIST FOR DIGITAL MEDIA...,Averity,New York,Are you a Senior Data Scientist looking to joi...,130000.0,160000.0,NY,145000.0,1,True
88,"SENIOR DATA MANAGER, FAMILY AND CHILD HEALTH A...",DEPT OF HEALTH/MENTAL HYGIENE,Queens,Developing and implementing data quality assur...,78630.0,103332.0,NY,90981.0,0,False
89,CORPORATE VICE PRESIDENT DATA SCIENTIST – MARK...,Oliver James Associates,New York,Passionate about Data Science. You will work c...,180000.0,180000.0,NY,180000.0,1,False
90,SENIOR NLP DATA SCIENTIST,Elevano,New York,Parsing of structured/unstructured data. Our c...,140000.0,190000.0,NY,165000.0,1,False
91,"DATA ANALYST, BUREAU OF SYSTEMS STRENGTHENING ...",DEPT OF HEALTH/MENTAL HYGIENE,Queens,Experience in pooling data from disparate sour...,78630.0,90425.0,NY,84527.5,0,False
92,STATISTICAL DATA ANALYST (US CITIZEN),PeopleTek,Bethesda,"Of various data, reporting, and a wide variety...",65000.0,75000.0,MD,70000.0,0,False
93,SENIOR DATA SCIENTIST,Jobspring Partners,Washington,Specifically this company is looking for a Sen...,100000.0,160000.0,DC,130000.0,1,False
94,MACHINE LEARNING DATA ENGINEER,Jobspring Partners,Washington,Professional Data Science experience. Familiar...,100000.0,140000.0,DC,120000.0,0,False
95,SENIOR DATA SCIENTIST - HEALTHCARE,Harnham,Philadelphia,Senior Data Scientist - Healthcare. Reporting ...,140000.0,170000.0,PA,155000.0,1,False
96,HEBREW SPEAKING DATA SCIENTIST,The Talent Solution,New York,A rapidly growing media and online content dis...,80000.0,140000.0,NY,110000.0,0,False
97,DIRECTOR OF DATA SCIENCE (STARTUP 50+ PEOPLE),Averity,New York,You will be leading a team of two data scienti...,160000.0,190000.0,NY,175000.0,1,False
98,VP MODELING DATA SCIENTIST,S.C. International,New York,Insurance organization is seeking a Corporate ...,150000.0,150000.0,NY,150000.0,1,False
99,DATA SCIENCE ENGINEER,Harnham,New York,Working closely with Data Scientists to unders...,180000.0,180000.0,NY,180000.0,1,False
100,AVP - BUSINESS MANAGEMENT AND DATA ANALYSIS,Mission Staffing,New York,"Data Analyst opening at Top Fund! Management, ...",101000.0,125000.0,NY,113000.0,0,False
101,DATA ANALYST,Jobspring Partners,Washington,Experience using data visualization tools such...,100000.0,150000.0,DC,125000.0,1,False
102,DATA SCIENTIST - OUSD(I)-HCMO-DCIPS,Red Gate Group,Arlington,Data Scientist (full-time contract). Under thi...,100000.0,125000.0,VA,112500.0,0,False
103,SENIOR DATA SCIENTIST,Oliver James Associates,New York,Passionate about Data Science. You will work c...,130000.0,160000.0,NY,145000.0,1,False
104,DATA / QUANTITATIVE ANALYST,Execu | Search,New York,"In this role, the Data / Quantitative Analyst ...",100000.0,150000.0,NY,125000.0,1,False
105,LEAD DATA ENGINEER / ARCHITECT FOR MACHINE LEA...,Averity,New York,As our Lead Data Engineer / Architect Data Sci...,175000.0,240000.0,NY,207500.0,1,True
106,SENIOR DATA SCIENTIST FOR MULTI-MILLION DOLLAR...,Averity,New York,"Ultimately, we are searching for an intelligen...",150000.0,200000.0,NY,175000.0,1,False
107,SENIOR DATA SCIENTIST,Execu | Search,New York,The Senior Data Scientist will:. An investment...,150000.0,250000.0,NY,200000.0,1,False
108,SENIOR/ VP DATA SCIENTIST FOR MULTI-BILLION DO...,Averity,New York,"As a Data Scientist, you will help join a team...",200000.0,300000.0,NY,250000.0,1,False
109,SENIOR DATA ENGINEER,Workbridge Associates,New York,They need a Senior Data Engineer who has exper...,130000.0,170000.0,NY,150000.0,1,False
110,"SENIOR SOFTWARE ENGINEER JAVA, J2EE, HADOOP, B...",The Bivium Group,Newton,"You'll get to work in very complex Java, J2EE,...",90000.0,140000.0,MA,115000.0,0,False
111,DATA VISUALIZATION DEVELOPER - ALL NEW D3 BASE...,The Bivium Group,Framingham,Company has several talented data scientists a...,80000.0,130000.0,MA,105000.0,0,False
112,DATA SCIENTIST,Robert Walters,New York,"Data Scientist, Financial Crime Analytics. A j...",60000.0,140000.0,NY,100000.0,0,False
113,DATA SCIENTIST,CyberCoders,Washington,Data Scientist If you are a Data Scientist wit...,110000.0,150000.0,DC,130000.0,1,False
114,VP MODELING DATA SCIENTIST,S.C. International,New York,Insurance organization is seeking a Corporate ...,150000.0,150000.0,NY,150000.0,1,False
115,DATA SCIENTIST UI SDLC - TS/SCI FULL SCOPE POLY,WSI Nationwide,Reston,Data Scientist UI SDLC - TS/SCI Full Scope Pol...,125000.0,190000.0,VA,157500.0,1,False
116,DATA SCIENTIST,Averity,New York,As a Senior / Lead Data Scientist in the Machi...,120000.0,160000.0,NY,140000.0,1,False
117,SENIOR DATA SCIENTIST,Oliver James Associates,New York,Passionate about Data Science. You will work c...,160000.0,180000.0,NY,170000.0,1,False
118,LEAD DATA SCIENTIST ( ML/RECOMMENDATION SYSTEM...,Venturi Limited,New York,Lead Data Scientist/Machine Learning Engineer/...,150000.0,250000.0,NY,200000.0,1,True
119,SENIOR DATA SCIENTIST,CyberCoders,New York,Senior Data Scientist We are seeking a smart a...,150000.0,250000.0,NY,200000.0,1,False
120,PRINCIPAL DATA SCIENTIST MACHINE LEARNING,Darwin Recruitment,Boston,"Our Client, a market leading healthcare organi...",150000.0,180000.0,MA,165000.0,1,False
121,PRINCIPAL DATA SCIENTIST,Oliver James Associates,Boston,Manage highly complex analytical projects from...,140000.0,180000.0,MA,160000.0,1,False
122,"LEAD/PRINCIPAL DATA SCIENTIST, HEALTHCARE",Harnham,Boston,A proven track record that shows the ability t...,170000.0,170000.0,MA,170000.0,1,True
123,SENIOR DATA SCIENTIST ( SEARCH / IR / PYTHON /...,Venturi Ltd,Boston,As the Senior Data Scientist you will:. Senior...,120000.0,220000.0,MA,170000.0,1,False
124,CHIEF DATA SCIENTIST - CONSULTING,Harnham,New York,Chief Data Scientist - Consulting. Chief Data ...,200000.0,220000.0,NY,210000.0,1,False
125,LEAD DATA SCIENTIST ( ML / RECOMMENDATION SYST...,Venturi Group,New York,Lead Data Scientist / Machine Learning Enginee...,185850.0,309750.0,NY,247800.0,1,True
126,DATA SCIENTIST,Robert Half Technology,Houston,They are currently hiring a Data Scientist. \x...,125000.0,150000.0,TX,137500.0,1,False
127,DATA ANALYST- IMMUNOLOGY,MD Anderson Cancer Center,Houston,"Assist Computational Scientist, Program Manage...",42400.0,63600.0,TX,53000.0,0,False
128,BIG DATA ENGINEER,CareerMonks,Austin,Experience with integration of data from multi...,100000.0,130000.0,TX,115000.0,0,False
129,SENIOR DATA ENGINEER,Austin Fraser,Austin,"SENIOR DATA ENGINEER (Lead). Austin, TX \u2013...",120000.0,150000.0,TX,135000.0,1,False
130,DATA ENGINEER,CyberCoders,Austin,"Help manage, secure, and scale data infrastruc...",140000.0,160000.0,TX,150000.0,1,False
131,DATA SCIENTIST,Cameron Craig Group,Duluth,Strong understanding of algorithms and advance...,90000.0,95000.0,GA,92500.0,0,False
132,DATA SCIENTIST,Enterprise Select,Duluth,We are currently looking for an experienced Da...,96400.0,96400.0,GA,96400.0,0,False

In [28]:
df_boo_jobs = df
df_boo_jobs['Senior'] = df_boo_jobs['Job'].str.contains('SENIOR')==True

In [29]:
df_boo_jobs

,Job,Company,Location,Description,Starting Salary ($),Ending Salary ($),State,Average Salary ($),Above Median 125k,Lead,Senior
0,DATA SCIENTIST,First Derivatives,New York,Data Scientists explore vast amounts of inform...,70000.0,80000.0,NY,75000.0,0,False,False
1,DATA SCIENTIST,MetroPlus Health Plan,New York,The Data Scientist will be tasked with leading...,90000.0,115000.0,NY,102500.0,0,False,False
2,DATA SCIENTIST,Enterprise Select,New York,"Financial Services data such as transactions, ...",185000.0,185000.0,NY,185000.0,1,False,False
3,DATA ANALYST,POLICE DEPARTMENT,New York,"Extensive knowledge of applied statistics, ana...",70286.0,88213.0,NY,79249.5,0,False,False
4,DATA SCIENTIST - NEURAL NETWORKS,Geode Executive Search,New York,A well-known tech company in New York is looki...,130000.0,130000.0,NY,130000.0,1,False,False
5,GEOSPATIAL DATA SCIENTIST,DEPARTMENT OF FINANCE,Manhattan,The Property Valuation &amp; Mapping Unit is s...,70286.0,81000.0,NY,75643.0,0,False,False
6,CLIENT FACING PYTHON ENGINEERS FOR A.I DATA CO...,Birch & James Associates Limited,New York,An interest in machine learning and/or data sc...,70000.0,110000.0,NY,90000.0,0,False,False
7,DATA MANAGER/STATISTICIAN,Stony Brook University,Stony Brook,Compliant data analysis. Biostatistics and dat...,52000.0,62000.0,NY,57000.0,0,False,False
8,DATA ANALYST/MODELER,DEPARTMENT OF FINANCE,Brooklyn,"Strong programming, data analysis, statistical...",70286.0,80829.0,NY,75557.5,0,False,False
9,POLICY DATA ANALYST,DEPARTMENT OF FINANCE,Manhattan,"Strong quantitative and research skills, inclu...",70286.0,80829.0,NY,75557.5,0,False,False
10,DATA SCIENTIST,Oliver James Associates,New York,Perform Data Analysis and data manipulation on...,180000.0,180000.0,NY,180000.0,1,False,False
11,"DATA MANAGER – RESEARCHER, BUREAU OF CHILDREN,...",DEPT OF HEALTH/MENTAL HYGIENE,New York,Experience designing and conducting analyses o...,70286.0,80829.0,NY,75557.5,0,False,False
12,ENERGY DATA POLICY ADVISOR,DEPT OF ENVIRONMENT PROTECTION,Manhattan,Benchmarking Data Disclosure. Manage process o...,59708.0,72246.0,NY,65977.0,0,False,False
13,SENIOR DATA ENGINEER,Enterprise Select,New York,"Ensure data pipeline provides clean organized,...",140000.0,140000.0,NY,140000.0,1,False,True
14,"RESEARCHER/DATA ANALYST, BUREAU OF MENTAL HEALTH",DEPT OF HEALTH/MENTAL HYGIENE,Queens,Conduct analysis on both survey data and on la...,70286.0,80829.0,NY,75557.5,0,False,False
15,"SENIOR DATA SCIENTIST FOR GLOBAL, MULTI-BILLIO...",Averity,New York,Are you a Senior Data Scientist looking to joi...,130000.0,160000.0,NY,145000.0,1,False,True
16,DIRECTOR OF DATA SCIENCE,Robert Walters,New York,The Director of Data Science for Ad-Tech will ...,180000.0,220000.0,NY,200000.0,1,False,False
17,DATA ANALYST,HRA/DEPT OF SOCIAL SERVICES,Manhattan,The Data Analyst will:. Experience with data v...,57969.0,62000.0,NY,59984.5,0,False,False
18,DATA SCIENTISTS,Smith Hanley Associates,New York,2-4 years of data science experience. Translat...,100000.0,120000.0,NY,110000.0,0,False,False
19,SENIOR DATA SCIENTIST,Analytic Recruiting,New York,Major insurance company seeks an experienced S...,160000.0,160000.0,NY,160000.0,1,False,True
20,PRINCIPAL DATA SCIENTIST,Oliver James Associates,New York,Manage highly complex analytical projects from...,140000.0,180000.0,NY,160000.0,1,False,False
21,DIRECTOR OF DATA SCIENCE (STARTUP),Averity,New York,This is a great opportunity for an experienced...,160000.0,180000.0,NY,170000.0,1,False,False
22,"PECO DATA ANALYST, BUREAU OF EMERGENCY FIELD O...",DEPT OF HEALTH/MENTAL HYGIENE,Manhattan,"Experience managing, cleaning, analyzing and r...",59708.0,65678.0,NY,62693.0,0,False,False
23,SENIOR DATA SCIENTIST (CONSULTING EXPERIENCE),Averity,New York,We are growing rapidly and are looking for a g...,140000.0,175000.0,NY,157500.0,1,False,True
24,DATA ENGINEER,Robert Walters,New York,The Data Engineer will support the Data Scient...,120000.0,130000.0,NY,125000.0,1,False,False
25,DATA SCIENTIST,Execu | Search,New York,The Data Scientist will be responsible for:. S...,100000.0,200000.0,NY,150000.0,1,False,False
26,DATA SCIENTIST,Isaacson Search Company,New York,"Data Scientist, Big Data, SQL, NoSQL, C++, Pyt...",150000.0,250000.0,NY,200000.0,1,False,False
27,"DATA ANALYST, BUREAU OF DIVISION MANAGEMENT/CE...",DEPT OF HEALTH/MENTAL HYGIENE,Queens,O Staff training data o All-staff survey data ...,59708.0,65678.0,NY,62693.0,0,False,False
28,"DATA SCIENTIST, MARKETING ANALYTICS",Analytic Recruiting,New York,"Data Scientist a.k.a. Data Scientist, Marketin...",75000.0,100000.0,NY,87500.0,0,False,False
29,SENIOR DATA SCIENTIST,Smith Hanley Associates,New York,Senior Data Scientist. 5-10 years of data scie...,130000.0,160000.0,NY,145000.0,1,False,True
30,"RESEARCH DATA ANALYST , BUREAU OF VETERINARY A...",DEPT OF HEALTH/MENTAL HYGIENE,Manhattan,-Create visualizations and presentations summa...,59708.0,65678.0,NY,62693.0,0,False,False
31,"DATA ANALYST, BUREAU OF PRIMARY CARE INFORMATI...",DEPT OF HEALTH/MENTAL HYGIENE,Queens,O data visualizations of new data sources; Dat...,70286.0,80829.0,NY,75557.5,0,False,False
32,"DATA ANALYST, BUREAU OF IMMUNIZATION",DEPT OF HEALTH/MENTAL HYGIENE,New York,"Review program data, assuring data quality and...",59708.0,72246.0,NY,65977.0,0,False,False
33,LEAD DATA SCIENTIST,Robert Walters,New York,About the Lead Data Scientist:. A Global leade...,110000.0,140000.0,NY,125000.0,1,True,False
34,DATA SCIENTIST,Metropolitan Police Department,Washington,Or data visualization and interaction. The Dat...,76082.0,97340.0,DC,86711.0,0,False,False
35,DATA SCIENTIST,Central Intelligence Agency,Washington,Data Scientists organize and interpret Big Dat...,62338.0,119794.0,DC,91066.0,0,False,False
36,DATA SCIENTIST,Piper Companies,Reston,Responsibilities for the Lead Data Scientist i...,200000.0,220000.0,VA,210000.0,1,False,False
37,IFG DATA SCIENTIST WHIZ!,Interface Financial Group (IFG),Bethesda,Data Scientists need to analyze financial data...,120000.0,120000.0,MD,120000.0,0,False,False
38,DATA SCIENTIST,National Geospatial-Intelligence Agency,Springfield,"Data Scientist **AMENDED**. Data Management, D...",52329.0,129553.0,VA,90941.0,0,False,False
39,DATA SCIENTIST,Robert Walters,Washington,About the Data Scientist:. Key Responsibilitie...,80000.0,100000.0,DC,90000.0,0,False,False
40,DATA SCIENTIST TS/SCI WITH CI POLY,"Innovative, Information, and Intelligence Solu...",Bethesda,The Data Scientist shall provide data analysis...,145000.0,160000.0,MD,152500.0,1,False,False
41,SENIOR DATA SCIENTIST,Piper Companies,Reston,Responsibilities for the Lead Data Scientist i...,200000.0,220000.0,VA,210000.0,1,False,True
42,STATISTICAL DATA ANALYST - US CITIZEN,PeopleTek,Bethesda,STATISTICAL DATA ANALYST*. \uf0b7 Extract insi...,60000.0,70000.0,MD,65000.0,0,False,False
43,DATA SCIENTIST,Central Intelligence Agency,Washington,Data Scientists organize and interpret Big Dat...,62338.0,119794.0,DC,91066.0,0,False,False
44,DATA SCIENTIST - MID-LEVEL,National Security Agency,Fort Meade,"Exploit, fuse and use data and data sources. A...",79334.0,105663.0,MD,92498.5,0,False,False
45,DATA SCIENTIST ( CHINESE SPEAKING / DEEP LEARN...,Venturi Ltd,Washington,As the Senior Data Scientist you will:. Senior...,90000.0,125000.0,DC,107500.0,0,False,False
46,"DATA SCIENTIST, MACHINE LEARNING (PERM - DC)",Compri,Washington,Compri Consulting's global client is seeking a...,110000.0,110000.0,DC,110000.0,0,False,False
47,DATA SCIENTIST - OUSD(I)-HCMO-DCIPS,Red Gate Group,Arlington,Data Scientist (full-time contract). Under thi...,100000.0,125000.0,VA,112500.0,0,False,False
48,BIG DATA CLOUD ARCHITECT,Qlaire Systems Inc.,Washington,Demonstrated understanding of Master data Mana...,150000.0,150000.0,DC,150000.0,1,False,False
49,JAVA/BIG DATA ENGINEER,Jobspring Partners,Washington,These applications are transforming traditiona...,100000.0,130000.0,DC,115000.0,0,False,False
50,RESEARCH DATA ANALYST,Johns Hopkins University,Baltimore,Provides data verification based on specialize...,43871.0,60402.0,MD,52136.5,0,False,False
51,SR. RESEARCH DATA ANALYST,Johns Hopkins University,Baltimore,Carry out data analyses in parallel on large c...,50956.0,70095.0,MD,60525.5,0,False,False
52,SOFTWARE DATA SCIENTIST,CyberCoders,Walpole,Software Data Scientist Data Scientists with s...,100000.0,140000.0,MA,120000.0,0,False,False
53,DATA ANALYTICS ENGINEER,CEI,Philadelphia,Data Analytics Engineer*. An experienced data ...,85000.0,85000.0,PA,85000.0,0,False,False
54,DATA SCIENTIST,Smith Hanley Associates,Philadelphia,Data Scientist Qualifications:. Data Scientist...,120000.0,140000.0,PA,130000.0,1,False,False
55,"DATA SCIENTIST - MACHINE LEARNING, TEAM BUILDOUT",Workbridge Associates,Philadelphia,Experience creating Data Visualization; They d...,70000.0,125000.0,PA,97500.0,0,False,False
56,"DATA ANALYST/SCIENTIST (SAS, PYTHON, SQL)",Jobspring Partners,Philadelphia,A health services company that leverages techn...,90000.0,120000.0,PA,105000.0,0,False,False
57,"DATA SCIENTIST (R, SAS, PYTHON)",Jobspring Partners,Philadelphia,A global leader in sensor solutions is looking...,90000.0,130000.0,PA,110000.0,0,False,False
58,DATA SCIENTIST/OPTIMIZATION ENGINEER,Jobspring Partners,Philadelphia,In this role you will be extracting power plan...,100000.0,125000.0,PA,112500.0,0,False,False
59,DATA SCIENTIST/MACHINE LEARNING SPECIALIST,Jobspring Partners,Philadelphia,"A leading healthcare analytical team, one of t...",100000.0,160000.0,PA,130000.0,1,False,False
60,SENIOR DATA SCIENTIST HEALTHCARE,Harnham,Philadelphia,Senior Data Scientist - Healthcare. Reporting ...,170000.0,170000.0,PA,170000.0,1,False,True
61,SENIOR STATISTICIAN/DATA SCIENTIST-PHARMA,Smith Hanley Associates,Horsham,Statistician/Data Scientist Responsibilities. ...,120000.0,120000.0,PA,120000.0,0,False,True
62,DATA SCIENTIST,Liberty Personnel Services,Wilmington,Data Scientist \u2013 Financial Environment \u...,140000.0,140000.0,DE,140000.0,1,False,False
63,DATA SCIENTIST,Robert Walters,New York,About the Data Scientist:. Key Responsibilitie...,80000.0,120000.0,NY,100000.0,0,False,False
64,DATA SCIENTIST,Averity,New York,"Our team is made up of five data scientists, a...",125000.0,140000.0,NY,132500.0,1,False,False
65,LEAD DATA SCIENTIST – LIFE INSURANCE,Oliver James Associates,New York,Passionate about Data Science. Do you want to ...,160000.0,210000.0,NY,185000.0,1,True,False
66,SENIOR DATA SCIENTIST,Harnham,New York,Senior Data Scientist - Consulting. As a Senio...,180000.0,180000.0,NY,180000.0,1,False,True
67,SR. MODELING DATA SCIENTIST,S.C. International,New York,Large insurance organization is seeking talent...,130000.0,130000.0,NY,130000.0,1,False,False
68,DATA/RESEARCH ANALYST,"Eagle Technologies, Incorporated",Arlington,This individual will work with other data anal...,50000.0,89000.0,VA,69500.0,0,False,False
69,SENIOR DATA ENGINEER,Piper Companies,Reston,Collaborate with a team of other data engineer...,190000.0,200000.0,VA,195000.0,1,False,True
70,COMPUTATIONAL IMAGE DATA ANALYSIS MANAGER,Medical Science & Computing,Bethesda,Analysis of biopsy and resection samples from ...,100000.0,100000.0,MD,100000.0,0,False,False
71,DATA SCIENTIST,Jobspring Partners,Washington,Metro areas fastest growing data analytics sta...,100000.0,150000.0,DC,125000.0,1,False,False
72,SENIOR NLP DATA SCIENTIST,Elevano,New York,Parsing of structured/unstructured data. Our c...,140000.0,190000.0,NY,165000.0,1,False,True
73,SR. DATA SCIENTIST FOR FORTUNE 500 COMPANY,Averity,New York,Are you an experienced Senior Data Scientist l...,150000.0,190000.0,NY,170000.0,1,False,False
74,DATA SCIENTIST - MODELING,Harnham,New York,Data Scientist - Modeling. As a Data Scientist...,125000.0,125000.0,NY,125000.0,1,False,False
75,SENIOR DATA ENGINEER ( SEARCH / IR / PYTHON / ...,Venturi Ltd,New York,Senior Data Engineer / Search / IR / Python / ...,100000.0,250000.0,NY,175000.0,1,False,True
76,PRINCIPAL DATA SCIENTIST,Robert Walters,New York,About the Principal Data Scientist:. In these ...,130000.0,160000.0,NY,145000.0,1,False,False
77,DATA SCIENTIST,Workbridge Associates,Philadelphia,In this role you will be a large part of data ...,125000.0,130000.0,PA,127500.0,1,False,False
78,DATA SCIENTIST - RETAIL BANKING,Harnham,New York,Our client is interested in hiring a Data Scie...,120000.0,120000.0,NY,120000.0,0,False,False
79,CORPORATE VICE PRESIDENT DATA SCIENTIST - FRAU...,Oliver James Associates,New York,Passionate about Data Science. You will work c...,180000.0,180000.0,NY,180000.0,1,False,False
80,"VP, DATA SCIENTIST - BANKING",Harnham,New York,"VP, Data Scientist - Banking. Data Scientist |...",180000.0,180000.0,NY,180000.0,1,False,False
81,CHIEF DATA SCIENTIST - CONSULTING,Harnham,New York,Chief Data Scientist - Consulting. Chief Data ...,220000.0,220000.0,NY,220000.0,1,False,False
82,SENIOR DATA ANALYST ( EDTECH / R / DATAVIZ / D...,Venturi Ltd,New York,"Senior Data Analyst, R Programming, Education,...",100000.0,100000.0,NY,100000.0,0,False,True
83,SENIOR DATA ANALYST,Venturi,New York,Senior Data Analyst ( R / EdTech / DataViz / D...,100000.0,100000.0,NY,100000.0,0,False,True
84,DATA ENGINEER,Venturi,New York,Data Scientist / Machine Learning Engineer / M...,110000.0,170000.0,NY,140000.0,1,False,False
85,SENIOR DATA SCIENTIST - MODELING,Harnham,New York,Senior Data Scientist - Modeling. As a Senior ...,150000.0,150000.0,NY,150000.0,1,False,True
86,LEAD DATA SCIENTIST,Oliver James Associates,New York,"Integrate and mine large data sets, connecting...",100000.0,140000.0,NY,120000.0,0,True,False
87,LEAD / SENIOR DATA SCIENTIST FOR DIGITAL MEDIA...,Averity,New York,Are you a Senior Data Scientist looking to joi...,130000.0,160000.0,NY,145000.0,1,True,True
88,"SENIOR DATA MANAGER, FAMILY AND CHILD HEALTH A...",DEPT OF HEALTH/MENTAL HYGIENE,Queens,Developing and implementing data quality assur...,78630.0,103332.0,NY,90981.0,0,False,True
89,CORPORATE VICE PRESIDENT DATA SCIENTIST – MARK...,Oliver James Associates,New York,Passionate about Data Science. You will work c...,180000.0,180000.0,NY,180000.0,1,False,False
90,SENIOR NLP DATA SCIENTIST,Elevano,New York,Parsing of structured/unstructured data. Our c...,140000.0,190000.0,NY,165000.0,1,False,True
91,"DATA ANALYST, BUREAU OF SYSTEMS STRENGTHENING ...",DEPT OF HEALTH/MENTAL HYGIENE,Queens,Experience in pooling data from disparate sour...,78630.0,90425.0,NY,84527.5,0,False,False
92,STATISTICAL DATA ANALYST (US CITIZEN),PeopleTek,Bethesda,"Of various data, reporting, and a wide variety...",65000.0,75000.0,MD,70000.0,0,False,False
93,SENIOR DATA SCIENTIST,Jobspring Partners,Washington,Specifically this company is looking for a Sen...,100000.0,160000.0,DC,130000.0,1,False,True
94,MACHINE LEARNING DATA ENGINEER,Jobspring Partners,Washington,Professional Data Science experience. Familiar...,100000.0,140000.0,DC,120000.0,0,False,False
95,SENIOR DATA SCIENTIST - HEALTHCARE,Harnham,Philadelphia,Senior Data Scientist - Healthcare. Reporting ...,140000.0,170000.0,PA,155000.0,1,False,True
96,HEBREW SPEAKING DATA SCIENTIST,The Talent Solution,New York,A rapidly growing media and online content dis...,80000.0,140000.0,NY,110000.0,0,False,False
97,DIRECTOR OF DATA SCIENCE (STARTUP 50+ PEOPLE),Averity,New York,You will be leading a team of two data scienti...,160000.0,190000.0,NY,175000.0,1,False,False
98,VP MODELING DATA SCIENTIST,S.C. International,New York,Insurance organization is seeking a Corporate ...,150000.0,150000.0,NY,150000.0,1,False,False
99,DATA SCIENCE ENGINEER,Harnham,New York,Working closely with Data Scientists to unders...,180000.0,180000.0,NY,180000.0,1,False,False
100,AVP - BUSINESS MANAGEMENT AND DATA ANALYSIS,Mission Staffing,New York,"Data Analyst opening at Top Fund! Management, ...",101000.0,125000.0,NY,113000.0,0,False,False
101,DATA ANALYST,Jobspring Partners,Washington,Experience using data visualization tools such...,100000.0,150000.0,DC,125000.0,1,False,False
102,DATA SCIENTIST - OUSD(I)-HCMO-DCIPS,Red Gate Group,Arlington,Data Scientist (full-time contract). Under thi...,100000.0,125000.0,VA,112500.0,0,False,False
103,SENIOR DATA SCIENTIST,Oliver James Associates,New York,Passionate about Data Science. You will work c...,130000.0,160000.0,NY,145000.0,1,False,True
104,DATA / QUANTITATIVE ANALYST,Execu | Search,New York,"In this role, the Data / Quantitative Analyst ...",100000.0,150000.0,NY,125000.0,1,False,False
105,LEAD DATA ENGINEER / ARCHITECT FOR MACHINE LEA...,Averity,New York,As our Lead Data Engineer / Architect Data Sci...,175000.0,240000.0,NY,207500.0,1,True,False
106,SENIOR DATA SCIENTIST FOR MULTI-MILLION DOLLAR...,Averity,New York,"Ultimately, we are searching for an intelligen...",150000.0,200000.0,NY,175000.0,1,False,True
107,SENIOR DATA SCIENTIST,Execu | Search,New York,The Senior Data Scientist will:. An investment...,150000.0,250000.0,NY,200000.0,1,False,True
108,SENIOR/ VP DATA SCIENTIST FOR MULTI-BILLION DO...,Averity,New York,"As a Data Scientist, you will help join a team...",200000.0,300000.0,NY,250000.0,1,False,True
109,SENIOR DATA ENGINEER,Workbridge Associates,New York,They need a Senior Data Engineer who has exper...,130000.0,170000.0,NY,150000.0,1,False,True
110,"SENIOR SOFTWARE ENGINEER JAVA, J2EE, HADOOP, B...",The Bivium Group,Newton,"You'll get to work in very complex Java, J2EE,...",90000.0,140000.0,MA,115000.0,0,False,True
111,DATA VISUALIZATION DEVELOPER - ALL NEW D3 BASE...,The Bivium Group,Framingham,Company has several talented data scientists a...,80000.0,130000.0,MA,105000.0,0,False,False
112,DATA SCIENTIST,Robert Walters,New York,"Data Scientist, Financial Crime Analytics. A j...",60000.0,140000.0,NY,100000.0,0,False,False
113,DATA SCIENTIST,CyberCoders,Washington,Data Scientist If you are a Data Scientist wit...,110000.0,150000.0,DC,130000.0,1,False,False
114,VP MODELING DATA SCIENTIST,S.C. International,New York,Insurance organization is seeking a Corporate ...,150000.0,150000.0,NY,150000.0,1,False,False
115,DATA SCIENTIST UI SDLC - TS/SCI FULL SCOPE POLY,WSI Nationwide,Reston,Data Scientist UI SDLC - TS/SCI Full Scope Pol...,125000.0,190000.0,VA,157500.0,1,False,False
116,DATA SCIENTIST,Averity,New York,As a Senior / Lead Data Scientist in the Machi...,120000.0,160000.0,NY,140000.0,1,False,False
117,SENIOR DATA SCIENTIST,Oliver James Associates,New York,Passionate about Data Science. You will work c...,160000.0,180000.0,NY,170000.0,1,False,True
118,LEAD DATA SCIENTIST ( ML/RECOMMENDATION SYSTEM...,Venturi Limited,New York,Lead Data Scientist/Machine Learning Engineer/...,150000.0,250000.0,NY,200000.0,1,True,False
119,SENIOR DATA SCIENTIST,CyberCoders,New York,Senior Data Scientist We are seeking a smart a...,150000.0,250000.0,NY,200000.0,1,False,True
120,PRINCIPAL DATA SCIENTIST MACHINE LEARNING,Darwin Recruitment,Boston,"Our Client, a market leading healthcare organi...",150000.0,180000.0,MA,165000.0,1,False,False
121,PRINCIPAL DATA SCIENTIST,Oliver James Associates,Boston,Manage highly complex analytical projects from...,140000.0,180000.0,MA,160000.0,1,False,False
122,"LEAD/PRINCIPAL DATA SCIENTIST, HEALTHCARE",Harnham,Boston,A proven track record that shows the ability t...,170000.0,170000.0,MA,170000.0,1,True,False
123,SENIOR DATA SCIENTIST ( SEARCH / IR / PYTHON /...,Venturi Ltd,Boston,As the Senior Data Scientist you will:. Senior...,120000.0,220000.0,MA,170000.0,1,False,True
124,CHIEF DATA SCIENTIST - CONSULTING,Harnham,New York,Chief Data Scientist - Consulting. Chief Data ...,200000.0,220000.0,NY,210000.0,1,False,False
125,LEAD DATA SCIENTIST ( ML / RECOMMENDATION SYST...,Venturi Group,New York,Lead Data Scientist / Machine Learning Enginee...,185850.0,309750.0,NY,247800.0,1,True,False
126,DATA SCIENTIST,Robert Half Technology,Houston,They are currently hiring a Data Scientist. \x...,125000.0,150000.0,TX,137500.0,1,False,False
127,DATA ANALYST- IMMUNOLOGY,MD Anderson Cancer Center,Houston,"Assist Computational Scientist, Program Manage...",42400.0,63600.0,TX,53000.0,0,False,False

In [30]:
df_boo_jobs = df
df_boo_jobs['Machine'] = df_boo_jobs['Job'].str.contains('MACHINE')==True

In [31]:
df_boo_jobs

,Job,Company,Location,Description,Starting Salary ($),Ending Salary ($),State,Average Salary ($),Above Median 125k,Lead,Senior,Machine
0,DATA SCIENTIST,First Derivatives,New York,Data Scientists explore vast amounts of inform...,70000.0,80000.0,NY,75000.0,0,False,False,False
1,DATA SCIENTIST,MetroPlus Health Plan,New York,The Data Scientist will be tasked with leading...,90000.0,115000.0,NY,102500.0,0,False,False,False
2,DATA SCIENTIST,Enterprise Select,New York,"Financial Services data such as transactions, ...",185000.0,185000.0,NY,185000.0,1,False,False,False
3,DATA ANALYST,POLICE DEPARTMENT,New York,"Extensive knowledge of applied statistics, ana...",70286.0,88213.0,NY,79249.5,0,False,False,False
4,DATA SCIENTIST - NEURAL NETWORKS,Geode Executive Search,New York,A well-known tech company in New York is looki...,130000.0,130000.0,NY,130000.0,1,False,False,False
5,GEOSPATIAL DATA SCIENTIST,DEPARTMENT OF FINANCE,Manhattan,The Property Valuation &amp; Mapping Unit is s...,70286.0,81000.0,NY,75643.0,0,False,False,False
6,CLIENT FACING PYTHON ENGINEERS FOR A.I DATA CO...,Birch & James Associates Limited,New York,An interest in machine learning and/or data sc...,70000.0,110000.0,NY,90000.0,0,False,False,False
7,DATA MANAGER/STATISTICIAN,Stony Brook University,Stony Brook,Compliant data analysis. Biostatistics and dat...,52000.0,62000.0,NY,57000.0,0,False,False,False
8,DATA ANALYST/MODELER,DEPARTMENT OF FINANCE,Brooklyn,"Strong programming, data analysis, statistical...",70286.0,80829.0,NY,75557.5,0,False,False,False
9,POLICY DATA ANALYST,DEPARTMENT OF FINANCE,Manhattan,"Strong quantitative and research skills, inclu...",70286.0,80829.0,NY,75557.5,0,False,False,False
10,DATA SCIENTIST,Oliver James Associates,New York,Perform Data Analysis and data manipulation on...,180000.0,180000.0,NY,180000.0,1,False,False,False
11,"DATA MANAGER – RESEARCHER, BUREAU OF CHILDREN,...",DEPT OF HEALTH/MENTAL HYGIENE,New York,Experience designing and conducting analyses o...,70286.0,80829.0,NY,75557.5,0,False,False,False
12,ENERGY DATA POLICY ADVISOR,DEPT OF ENVIRONMENT PROTECTION,Manhattan,Benchmarking Data Disclosure. Manage process o...,59708.0,72246.0,NY,65977.0,0,False,False,False
13,SENIOR DATA ENGINEER,Enterprise Select,New York,"Ensure data pipeline provides clean organized,...",140000.0,140000.0,NY,140000.0,1,False,True,False
14,"RESEARCHER/DATA ANALYST, BUREAU OF MENTAL HEALTH",DEPT OF HEALTH/MENTAL HYGIENE,Queens,Conduct analysis on both survey data and on la...,70286.0,80829.0,NY,75557.5,0,False,False,False
15,"SENIOR DATA SCIENTIST FOR GLOBAL, MULTI-BILLIO...",Averity,New York,Are you a Senior Data Scientist looking to joi...,130000.0,160000.0,NY,145000.0,1,False,True,False
16,DIRECTOR OF DATA SCIENCE,Robert Walters,New York,The Director of Data Science for Ad-Tech will ...,180000.0,220000.0,NY,200000.0,1,False,False,False
17,DATA ANALYST,HRA/DEPT OF SOCIAL SERVICES,Manhattan,The Data Analyst will:. Experience with data v...,57969.0,62000.0,NY,59984.5,0,False,False,False
18,DATA SCIENTISTS,Smith Hanley Associates,New York,2-4 years of data science experience. Translat...,100000.0,120000.0,NY,110000.0,0,False,False,False
19,SENIOR DATA SCIENTIST,Analytic Recruiting,New York,Major insurance company seeks an experienced S...,160000.0,160000.0,NY,160000.0,1,False,True,False
20,PRINCIPAL DATA SCIENTIST,Oliver James Associates,New York,Manage highly complex analytical projects from...,140000.0,180000.0,NY,160000.0,1,False,False,False
21,DIRECTOR OF DATA SCIENCE (STARTUP),Averity,New York,This is a great opportunity for an experienced...,160000.0,180000.0,NY,170000.0,1,False,False,False
22,"PECO DATA ANALYST, BUREAU OF EMERGENCY FIELD O...",DEPT OF HEALTH/MENTAL HYGIENE,Manhattan,"Experience managing, cleaning, analyzing and r...",59708.0,65678.0,NY,62693.0,0,False,False,False
23,SENIOR DATA SCIENTIST (CONSULTING EXPERIENCE),Averity,New York,We are growing rapidly and are looking for a g...,140000.0,175000.0,NY,157500.0,1,False,True,False
24,DATA ENGINEER,Robert Walters,New York,The Data Engineer will support the Data Scient...,120000.0,130000.0,NY,125000.0,1,False,False,False
25,DATA SCIENTIST,Execu | Search,New York,The Data Scientist will be responsible for:. S...,100000.0,200000.0,NY,150000.0,1,False,False,False
26,DATA SCIENTIST,Isaacson Search Company,New York,"Data Scientist, Big Data, SQL, NoSQL, C++, Pyt...",150000.0,250000.0,NY,200000.0,1,False,False,False
27,"DATA ANALYST, BUREAU OF DIVISION MANAGEMENT/CE...",DEPT OF HEALTH/MENTAL HYGIENE,Queens,O Staff training data o All-staff survey data ...,59708.0,65678.0,NY,62693.0,0,False,False,False
28,"DATA SCIENTIST, MARKETING ANALYTICS",Analytic Recruiting,New York,"Data Scientist a.k.a. Data Scientist, Marketin...",75000.0,100000.0,NY,87500.0,0,False,False,False
29,SENIOR DATA SCIENTIST,Smith Hanley Associates,New York,Senior Data Scientist. 5-10 years of data scie...,130000.0,160000.0,NY,145000.0,1,False,True,False
30,"RESEARCH DATA ANALYST , BUREAU OF VETERINARY A...",DEPT OF HEALTH/MENTAL HYGIENE,Manhattan,-Create visualizations and presentations summa...,59708.0,65678.0,NY,62693.0,0,False,False,False
31,"DATA ANALYST, BUREAU OF PRIMARY CARE INFORMATI...",DEPT OF HEALTH/MENTAL HYGIENE,Queens,O data visualizations of new data sources; Dat...,70286.0,80829.0,NY,75557.5,0,False,False,False
32,"DATA ANALYST, BUREAU OF IMMUNIZATION",DEPT OF HEALTH/MENTAL HYGIENE,New York,"Review program data, assuring data quality and...",59708.0,72246.0,NY,65977.0,0,False,False,False
33,LEAD DATA SCIENTIST,Robert Walters,New York,About the Lead Data Scientist:. A Global leade...,110000.0,140000.0,NY,125000.0,1,True,False,False
34,DATA SCIENTIST,Metropolitan Police Department,Washington,Or data visualization and interaction. The Dat...,76082.0,97340.0,DC,86711.0,0,False,False,False
35,DATA SCIENTIST,Central Intelligence Agency,Washington,Data Scientists organize and interpret Big Dat...,62338.0,119794.0,DC,91066.0,0,False,False,False
36,DATA SCIENTIST,Piper Companies,Reston,Responsibilities for the Lead Data Scientist i...,200000.0,220000.0,VA,210000.0,1,False,False,False
37,IFG DATA SCIENTIST WHIZ!,Interface Financial Group (IFG),Bethesda,Data Scientists need to analyze financial data...,120000.0,120000.0,MD,120000.0,0,False,False,False
38,DATA SCIENTIST,National Geospatial-Intelligence Agency,Springfield,"Data Scientist **AMENDED**. Data Management, D...",52329.0,129553.0,VA,90941.0,0,False,False,False
39,DATA SCIENTIST,Robert Walters,Washington,About the Data Scientist:. Key Responsibilitie...,80000.0,100000.0,DC,90000.0,0,False,False,False
40,DATA SCIENTIST TS/SCI WITH CI POLY,"Innovative, Information, and Intelligence Solu...",Bethesda,The Data Scientist shall provide data analysis...,145000.0,160000.0,MD,152500.0,1,False,False,False
41,SENIOR DATA SCIENTIST,Piper Companies,Reston,Responsibilities for the Lead Data Scientist i...,200000.0,220000.0,VA,210000.0,1,False,True,False
42,STATISTICAL DATA ANALYST - US CITIZEN,PeopleTek,Bethesda,STATISTICAL DATA ANALYST*. \uf0b7 Extract insi...,60000.0,70000.0,MD,65000.0,0,False,False,False
43,DATA SCIENTIST,Central Intelligence Agency,Washington,Data Scientists organize and interpret Big Dat...,62338.0,119794.0,DC,91066.0,0,False,False,False
44,DATA SCIENTIST - MID-LEVEL,National Security Agency,Fort Meade,"Exploit, fuse and use data and data sources. A...",79334.0,105663.0,MD,92498.5,0,False,False,False
45,DATA SCIENTIST ( CHINESE SPEAKING / DEEP LEARN...,Venturi Ltd,Washington,As the Senior Data Scientist you will:. Senior...,90000.0,125000.0,DC,107500.0,0,False,False,False
46,"DATA SCIENTIST, MACHINE LEARNING (PERM - DC)",Compri,Washington,Compri Consulting's global client is seeking a...,110000.0,110000.0,DC,110000.0,0,False,False,True
47,DATA SCIENTIST - OUSD(I)-HCMO-DCIPS,Red Gate Group,Arlington,Data Scientist (full-time contract). Under thi...,100000.0,125000.0,VA,112500.0,0,False,False,False
48,BIG DATA CLOUD ARCHITECT,Qlaire Systems Inc.,Washington,Demonstrated understanding of Master data Mana...,150000.0,150000.0,DC,150000.0,1,False,False,False
49,JAVA/BIG DATA ENGINEER,Jobspring Partners,Washington,These applications are transforming traditiona...,100000.0,130000.0,DC,115000.0,0,False,False,False
50,RESEARCH DATA ANALYST,Johns Hopkins University,Baltimore,Provides data verification based on specialize...,43871.0,60402.0,MD,52136.5,0,False,False,False
51,SR. RESEARCH DATA ANALYST,Johns Hopkins University,Baltimore,Carry out data analyses in parallel on large c...,50956.0,70095.0,MD,60525.5,0,False,False,False
52,SOFTWARE DATA SCIENTIST,CyberCoders,Walpole,Software Data Scientist Data Scientists with s...,100000.0,140000.0,MA,120000.0,0,False,False,False
53,DATA ANALYTICS ENGINEER,CEI,Philadelphia,Data Analytics Engineer*. An experienced data ...,85000.0,85000.0,PA,85000.0,0,False,False,False
54,DATA SCIENTIST,Smith Hanley Associates,Philadelphia,Data Scientist Qualifications:. Data Scientist...,120000.0,140000.0,PA,130000.0,1,False,False,False
55,"DATA SCIENTIST - MACHINE LEARNING, TEAM BUILDOUT",Workbridge Associates,Philadelphia,Experience creating Data Visualization; They d...,70000.0,125000.0,PA,97500.0,0,False,False,True
56,"DATA ANALYST/SCIENTIST (SAS, PYTHON, SQL)",Jobspring Partners,Philadelphia,A health services company that leverages techn...,90000.0,120000.0,PA,105000.0,0,False,False,False
57,"DATA SCIENTIST (R, SAS, PYTHON)",Jobspring Partners,Philadelphia,A global leader in sensor solutions is looking...,90000.0,130000.0,PA,110000.0,0,False,False,False
58,DATA SCIENTIST/OPTIMIZATION ENGINEER,Jobspring Partners,Philadelphia,In this role you will be extracting power plan...,100000.0,125000.0,PA,112500.0,0,False,False,False
59,DATA SCIENTIST/MACHINE LEARNING SPECIALIST,Jobspring Partners,Philadelphia,"A leading healthcare analytical team, one of t...",100000.0,160000.0,PA,130000.0,1,False,False,True
60,SENIOR DATA SCIENTIST HEALTHCARE,Harnham,Philadelphia,Senior Data Scientist - Healthcare. Reporting ...,170000.0,170000.0,PA,170000.0,1,False,True,False
61,SENIOR STATISTICIAN/DATA SCIENTIST-PHARMA,Smith Hanley Associates,Horsham,Statistician/Data Scientist Responsibilities. ...,120000.0,120000.0,PA,120000.0,0,False,True,False
62,DATA SCIENTIST,Liberty Personnel Services,Wilmington,Data Scientist \u2013 Financial Environment \u...,140000.0,140000.0,DE,140000.0,1,False,False,False
63,DATA SCIENTIST,Robert Walters,New York,About the Data Scientist:. Key Responsibilitie...,80000.0,120000.0,NY,100000.0,0,False,False,False
64,DATA SCIENTIST,Averity,New York,"Our team is made up of five data scientists, a...",125000.0,140000.0,NY,132500.0,1,False,False,False
65,LEAD DATA SCIENTIST – LIFE INSURANCE,Oliver James Associates,New York,Passionate about Data Science. Do you want to ...,160000.0,210000.0,NY,185000.0,1,True,False,False
66,SENIOR DATA SCIENTIST,Harnham,New York,Senior Data Scientist - Consulting. As a Senio...,180000.0,180000.0,NY,180000.0,1,False,True,False
67,SR. MODELING DATA SCIENTIST,S.C. International,New York,Large insurance organization is seeking talent...,130000.0,130000.0,NY,130000.0,1,False,False,False
68,DATA/RESEARCH ANALYST,"Eagle Technologies, Incorporated",Arlington,This individual will work with other data anal...,50000.0,89000.0,VA,69500.0,0,False,False,False
69,SENIOR DATA ENGINEER,Piper Companies,Reston,Collaborate with a team of other data engineer...,190000.0,200000.0,VA,195000.0,1,False,True,False
70,COMPUTATIONAL IMAGE DATA ANALYSIS MANAGER,Medical Science & Computing,Bethesda,Analysis of biopsy and resection samples from ...,100000.0,100000.0,MD,100000.0,0,False,False,False
71,DATA SCIENTIST,Jobspring Partners,Washington,Metro areas fastest growing data analytics sta...,100000.0,150000.0,DC,125000.0,1,False,False,False
72,SENIOR NLP DATA SCIENTIST,Elevano,New York,Parsing of structured/unstructured data. Our c...,140000.0,190000.0,NY,165000.0,1,False,True,False
73,SR. DATA SCIENTIST FOR FORTUNE 500 COMPANY,Averity,New York,Are you an experienced Senior Data Scientist l...,150000.0,190000.0,NY,170000.0,1,False,False,False
74,DATA SCIENTIST - MODELING,Harnham,New York,Data Scientist - Modeling. As a Data Scientist...,125000.0,125000.0,NY,125000.0,1,False,False,False
75,SENIOR DATA ENGINEER ( SEARCH / IR / PYTHON / ...,Venturi Ltd,New York,Senior Data Engineer / Search / IR / Python / ...,100000.0,250000.0,NY,175000.0,1,False,True,False
76,PRINCIPAL DATA SCIENTIST,Robert Walters,New York,About the Principal Data Scientist:. In these ...,130000.0,160000.0,NY,145000.0,1,False,False,False
77,DATA SCIENTIST,Workbridge Associates,Philadelphia,In this role you will be a large part of data ...,125000.0,130000.0,PA,127500.0,1,False,False,False
78,DATA SCIENTIST - RETAIL BANKING,Harnham,New York,Our client is interested in hiring a Data Scie...,120000.0,120000.0,NY,120000.0,0,False,False,False
79,CORPORATE VICE PRESIDENT DATA SCIENTIST - FRAU...,Oliver James Associates,New York,Passionate about Data Science. You will work c...,180000.0,180000.0,NY,180000.0,1,False,False,False
80,"VP, DATA SCIENTIST - BANKING",Harnham,New York,"VP, Data Scientist - Banking. Data Scientist |...",180000.0,180000.0,NY,180000.0,1,False,False,False
81,CHIEF DATA SCIENTIST - CONSULTING,Harnham,New York,Chief Data Scientist - Consulting. Chief Data ...,220000.0,220000.0,NY,220000.0,1,False,False,False
82,SENIOR DATA ANALYST ( EDTECH / R / DATAVIZ / D...,Venturi Ltd,New York,"Senior Data Analyst, R Programming, Education,...",100000.0,100000.0,NY,100000.0,0,False,True,False
83,SENIOR DATA ANALYST,Venturi,New York,Senior Data Analyst ( R / EdTech / DataViz / D...,100000.0,100000.0,NY,100000.0,0,False,True,False
84,DATA ENGINEER,Venturi,New York,Data Scientist / Machine Learning Engineer / M...,110000.0,170000.0,NY,140000.0,1,False,False,False
85,SENIOR DATA SCIENTIST - MODELING,Harnham,New York,Senior Data Scientist - Modeling. As a Senior ...,150000.0,150000.0,NY,150000.0,1,False,True,False
86,LEAD DATA SCIENTIST,Oliver James Associates,New York,"Integrate and mine large data sets, connecting...",100000.0,140000.0,NY,120000.0,0,True,False,False
87,LEAD / SENIOR DATA SCIENTIST FOR DIGITAL MEDIA...,Averity,New York,Are you a Senior Data Scientist looking to joi...,130000.0,160000.0,NY,145000.0,1,True,True,False
88,"SENIOR DATA MANAGER, FAMILY AND CHILD HEALTH A...",DEPT OF HEALTH/MENTAL HYGIENE,Queens,Developing and implementing data quality assur...,78630.0,103332.0,NY,90981.0,0,False,True,False
89,CORPORATE VICE PRESIDENT DATA SCIENTIST – MARK...,Oliver James Associates,New York,Passionate about Data Science. You will work c...,180000.0,180000.0,NY,180000.0,1,False,False,False
90,SENIOR NLP DATA SCIENTIST,Elevano,New York,Parsing of structured/unstructured data. Our c...,140000.0,190000.0,NY,165000.0,1,False,True,False
91,"DATA ANALYST, BUREAU OF SYSTEMS STRENGTHENING ...",DEPT OF HEALTH/MENTAL HYGIENE,Queens,Experience in pooling data from disparate sour...,78630.0,90425.0,NY,84527.5,0,False,False,False
92,STATISTICAL DATA ANALYST (US CITIZEN),PeopleTek,Bethesda,"Of various data, reporting, and a wide variety...",65000.0,75000.0,MD,70000.0,0,False,False,False
93,SENIOR DATA SCIENTIST,Jobspring Partners,Washington,Specifically this company is looking for a Sen...,100000.0,160000.0,DC,130000.0,1,False,True,False
94,MACHINE LEARNING DATA ENGINEER,Jobspring Partners,Washington,Professional Data Science experience. Familiar...,100000.0,140000.0,DC,120000.0,0,False,False,True
95,SENIOR DATA SCIENTIST - HEALTHCARE,Harnham,Philadelphia,Senior Data Scientist - Healthcare. Reporting ...,140000.0,170000.0,PA,155000.0,1,False,True,False
96,HEBREW SPEAKING DATA SCIENTIST,The Talent Solution,New York,A rapidly growing media and online content dis...,80000.0,140000.0,NY,110000.0,0,False,False,False
97,DIRECTOR OF DATA SCIENCE (STARTUP 50+ PEOPLE),Averity,New York,You will be leading a team of two data scienti...,160000.0,190000.0,NY,175000.0,1,False,False,False
98,VP MODELING DATA SCIENTIST,S.C. International,New York,Insurance organization is seeking a Corporate ...,150000.0,150000.0,NY,150000.0,1,False,False,False
99,DATA SCIENCE ENGINEER,Harnham,New York,Working closely with Data Scientists to unders...,180000.0,180000.0,NY,180000.0,1,False,False,False
100,AVP - BUSINESS MANAGEMENT AND DATA ANALYSIS,Mission Staffing,New York,"Data Analyst opening at Top Fund! Management, ...",101000.0,125000.0,NY,113000.0,0,False,False,False
101,DATA ANALYST,Jobspring Partners,Washington,Experience using data visualization tools such...,100000.0,150000.0,DC,125000.0,1,False,False,False
102,DATA SCIENTIST - OUSD(I)-HCMO-DCIPS,Red Gate Group,Arlington,Data Scientist (full-time contract). Under thi...,100000.0,125000.0,VA,112500.0,0,False,False,False
103,SENIOR DATA SCIENTIST,Oliver James Associates,New York,Passionate about Data Science. You will work c...,130000.0,160000.0,NY,145000.0,1,False,True,False
104,DATA / QUANTITATIVE ANALYST,Execu | Search,New York,"In this role, the Data / Quantitative Analyst ...",100000.0,150000.0,NY,125000.0,1,False,False,False
105,LEAD DATA ENGINEER / ARCHITECT FOR MACHINE LEA...,Averity,New York,As our Lead Data Engineer / Architect Data Sci...,175000.0,240000.0,NY,207500.0,1,True,False,True
106,SENIOR DATA SCIENTIST FOR MULTI-MILLION DOLLAR...,Averity,New York,"Ultimately, we are searching for an intelligen...",150000.0,200000.0,NY,175000.0,1,False,True,False
107,SENIOR DATA SCIENTIST,Execu | Search,New York,The Senior Data Scientist will:. An investment...,150000.0,250000.0,NY,200000.0,1,False,True,False
108,SENIOR/ VP DATA SCIENTIST FOR MULTI-BILLION DO...,Averity,New York,"As a Data Scientist, you will help join a team...",200000.0,300000.0,NY,250000.0,1,False,True,False
109,SENIOR DATA ENGINEER,Workbridge Associates,New York,They need a Senior Data Engineer who has exper...,130000.0,170000.0,NY,150000.0,1,False,True,False
110,"SENIOR SOFTWARE ENGINEER JAVA, J2EE, HADOOP, B...",The Bivium Group,Newton,"You'll get to work in very complex Java, J2EE,...",90000.0,140000.0,MA,115000.0,0,False,True,False
111,DATA VISUALIZATION DEVELOPER - ALL NEW D3 BASE...,The Bivium Group,Framingham,Company has several talented data scientists a...,80000.0,130000.0,MA,105000.0,0,False,False,False
112,DATA SCIENTIST,Robert Walters,New York,"Data Scientist, Financial Crime Analytics. A j...",60000.0,140000.0,NY,100000.0,0,False,False,False
113,DATA SCIENTIST,CyberCoders,Washington,Data Scientist If you are a Data Scientist wit...,110000.0,150000.0,DC,130000.0,1,False,False,False
114,VP MODELING DATA SCIENTIST,S.C. International,New York,Insurance organization is seeking a Corporate ...,150000.0,150000.0,NY,150000.0,1,False,False,False
115,DATA SCIENTIST UI SDLC - TS/SCI FULL SCOPE POLY,WSI Nationwide,Reston,Data Scientist UI SDLC - TS/SCI Full Scope Pol...,125000.0,190000.0,VA,157500.0,1,False,False,False
116,DATA SCIENTIST,Averity,New York,As a Senior / Lead Data Scientist in the Machi...,120000.0,160000.0,NY,140000.0,1,False,False,False
117,SENIOR DATA SCIENTIST,Oliver James Associates,New York,Passionate about Data Science. You will work c...,160000.0,180000.0,NY,170000.0,1,False,True,False
118,LEAD DATA SCIENTIST ( ML/RECOMMENDATION SYSTEM...,Venturi Limited,New York,Lead Data Scientist/Machine Learning Engineer/...,150000.0,250000.0,NY,200000.0,1,True,False,False
119,SENIOR DATA SCIENTIST,CyberCoders,New York,Senior Data Scientist We are seeking a smart a...,150000.0,250000.0,NY,200000.0,1,False,True,False
120,PRINCIPAL DATA SCIENTIST MACHINE LEARNING,Darwin Recruitment,Boston,"Our Client, a market leading healthcare organi...",150000.0,180000.0,MA,165000.0,1,False,False,True
121,PRINCIPAL DATA SCIENTIST,Oliver James Associates,Boston,Manage highly complex analytical projects from...,140000.0,180000.0,MA,160000.0,1,False,False,False
122,"LEAD/PRINCIPAL DATA SCIENTIST, HEALTHCARE",Harnham,Boston,A proven track record that shows the ability t...,170000.0,170000.0,MA,170000.0,1,True,False,False

In [32]:
df_boo_jobs = df
df_boo_jobs['Python'] = df_boo_jobs['Job'].str.contains('PYTHON')==True

In [33]:
df_boo_jobs

,Job,Company,Location,Description,Starting Salary ($),Ending Salary ($),State,Average Salary ($),Above Median 125k,Lead,Senior,Machine,Python
0,DATA SCIENTIST,First Derivatives,New York,Data Scientists explore vast amounts of inform...,70000.0,80000.0,NY,75000.0,0,False,False,False,False
1,DATA SCIENTIST,MetroPlus Health Plan,New York,The Data Scientist will be tasked with leading...,90000.0,115000.0,NY,102500.0,0,False,False,False,False
2,DATA SCIENTIST,Enterprise Select,New York,"Financial Services data such as transactions, ...",185000.0,185000.0,NY,185000.0,1,False,False,False,False
3,DATA ANALYST,POLICE DEPARTMENT,New York,"Extensive knowledge of applied statistics, ana...",70286.0,88213.0,NY,79249.5,0,False,False,False,False
4,DATA SCIENTIST - NEURAL NETWORKS,Geode Executive Search,New York,A well-known tech company in New York is looki...,130000.0,130000.0,NY,130000.0,1,False,False,False,False
5,GEOSPATIAL DATA SCIENTIST,DEPARTMENT OF FINANCE,Manhattan,The Property Valuation &amp; Mapping Unit is s...,70286.0,81000.0,NY,75643.0,0,False,False,False,False
6,CLIENT FACING PYTHON ENGINEERS FOR A.I DATA CO...,Birch & James Associates Limited,New York,An interest in machine learning and/or data sc...,70000.0,110000.0,NY,90000.0,0,False,False,False,True
7,DATA MANAGER/STATISTICIAN,Stony Brook University,Stony Brook,Compliant data analysis. Biostatistics and dat...,52000.0,62000.0,NY,57000.0,0,False,False,False,False
8,DATA ANALYST/MODELER,DEPARTMENT OF FINANCE,Brooklyn,"Strong programming, data analysis, statistical...",70286.0,80829.0,NY,75557.5,0,False,False,False,False
9,POLICY DATA ANALYST,DEPARTMENT OF FINANCE,Manhattan,"Strong quantitative and research skills, inclu...",70286.0,80829.0,NY,75557.5,0,False,False,False,False
10,DATA SCIENTIST,Oliver James Associates,New York,Perform Data Analysis and data manipulation on...,180000.0,180000.0,NY,180000.0,1,False,False,False,False
11,"DATA MANAGER – RESEARCHER, BUREAU OF CHILDREN,...",DEPT OF HEALTH/MENTAL HYGIENE,New York,Experience designing and conducting analyses o...,70286.0,80829.0,NY,75557.5,0,False,False,False,False
12,ENERGY DATA POLICY ADVISOR,DEPT OF ENVIRONMENT PROTECTION,Manhattan,Benchmarking Data Disclosure. Manage process o...,59708.0,72246.0,NY,65977.0,0,False,False,False,False
13,SENIOR DATA ENGINEER,Enterprise Select,New York,"Ensure data pipeline provides clean organized,...",140000.0,140000.0,NY,140000.0,1,False,True,False,False
14,"RESEARCHER/DATA ANALYST, BUREAU OF MENTAL HEALTH",DEPT OF HEALTH/MENTAL HYGIENE,Queens,Conduct analysis on both survey data and on la...,70286.0,80829.0,NY,75557.5,0,False,False,False,False
15,"SENIOR DATA SCIENTIST FOR GLOBAL, MULTI-BILLIO...",Averity,New York,Are you a Senior Data Scientist looking to joi...,130000.0,160000.0,NY,145000.0,1,False,True,False,False
16,DIRECTOR OF DATA SCIENCE,Robert Walters,New York,The Director of Data Science for Ad-Tech will ...,180000.0,220000.0,NY,200000.0,1,False,False,False,False
17,DATA ANALYST,HRA/DEPT OF SOCIAL SERVICES,Manhattan,The Data Analyst will:. Experience with data v...,57969.0,62000.0,NY,59984.5,0,False,False,False,False
18,DATA SCIENTISTS,Smith Hanley Associates,New York,2-4 years of data science experience. Translat...,100000.0,120000.0,NY,110000.0,0,False,False,False,False
19,SENIOR DATA SCIENTIST,Analytic Recruiting,New York,Major insurance company seeks an experienced S...,160000.0,160000.0,NY,160000.0,1,False,True,False,False
20,PRINCIPAL DATA SCIENTIST,Oliver James Associates,New York,Manage highly complex analytical projects from...,140000.0,180000.0,NY,160000.0,1,False,False,False,False
21,DIRECTOR OF DATA SCIENCE (STARTUP),Averity,New York,This is a great opportunity for an experienced...,160000.0,180000.0,NY,170000.0,1,False,False,False,False
22,"PECO DATA ANALYST, BUREAU OF EMERGENCY FIELD O...",DEPT OF HEALTH/MENTAL HYGIENE,Manhattan,"Experience managing, cleaning, analyzing and r...",59708.0,65678.0,NY,62693.0,0,False,False,False,False
23,SENIOR DATA SCIENTIST (CONSULTING EXPERIENCE),Averity,New York,We are growing rapidly and are looking for a g...,140000.0,175000.0,NY,157500.0,1,False,True,False,False
24,DATA ENGINEER,Robert Walters,New York,The Data Engineer will support the Data Scient...,120000.0,130000.0,NY,125000.0,1,False,False,False,False
25,DATA SCIENTIST,Execu | Search,New York,The Data Scientist will be responsible for:. S...,100000.0,200000.0,NY,150000.0,1,False,False,False,False
26,DATA SCIENTIST,Isaacson Search Company,New York,"Data Scientist, Big Data, SQL, NoSQL, C++, Pyt...",150000.0,250000.0,NY,200000.0,1,False,False,False,False
27,"DATA ANALYST, BUREAU OF DIVISION MANAGEMENT/CE...",DEPT OF HEALTH/MENTAL HYGIENE,Queens,O Staff training data o All-staff survey data ...,59708.0,65678.0,NY,62693.0,0,False,False,False,False
28,"DATA SCIENTIST, MARKETING ANALYTICS",Analytic Recruiting,New York,"Data Scientist a.k.a. Data Scientist, Marketin...",75000.0,100000.0,NY,87500.0,0,False,False,False,False
29,SENIOR DATA SCIENTIST,Smith Hanley Associates,New York,Senior Data Scientist. 5-10 years of data scie...,130000.0,160000.0,NY,145000.0,1,False,True,False,False
30,"RESEARCH DATA ANALYST , BUREAU OF VETERINARY A...",DEPT OF HEALTH/MENTAL HYGIENE,Manhattan,-Create visualizations and presentations summa...,59708.0,65678.0,NY,62693.0,0,False,False,False,False
31,"DATA ANALYST, BUREAU OF PRIMARY CARE INFORMATI...",DEPT OF HEALTH/MENTAL HYGIENE,Queens,O data visualizations of new data sources; Dat...,70286.0,80829.0,NY,75557.5,0,False,False,False,False
32,"DATA ANALYST, BUREAU OF IMMUNIZATION",DEPT OF HEALTH/MENTAL HYGIENE,New York,"Review program data, assuring data quality and...",59708.0,72246.0,NY,65977.0,0,False,False,False,False
33,LEAD DATA SCIENTIST,Robert Walters,New York,About the Lead Data Scientist:. A Global leade...,110000.0,140000.0,NY,125000.0,1,True,False,False,False
34,DATA SCIENTIST,Metropolitan Police Department,Washington,Or data visualization and interaction. The Dat...,76082.0,97340.0,DC,86711.0,0,False,False,False,False
35,DATA SCIENTIST,Central Intelligence Agency,Washington,Data Scientists organize and interpret Big Dat...,62338.0,119794.0,DC,91066.0,0,False,False,False,False
36,DATA SCIENTIST,Piper Companies,Reston,Responsibilities for the Lead Data Scientist i...,200000.0,220000.0,VA,210000.0,1,False,False,False,False
37,IFG DATA SCIENTIST WHIZ!,Interface Financial Group (IFG),Bethesda,Data Scientists need to analyze financial data...,120000.0,120000.0,MD,120000.0,0,False,False,False,False
38,DATA SCIENTIST,National Geospatial-Intelligence Agency,Springfield,"Data Scientist **AMENDED**. Data Management, D...",52329.0,129553.0,VA,90941.0,0,False,False,False,False
39,DATA SCIENTIST,Robert Walters,Washington,About the Data Scientist:. Key Responsibilitie...,80000.0,100000.0,DC,90000.0,0,False,False,False,False
40,DATA SCIENTIST TS/SCI WITH CI POLY,"Innovative, Information, and Intelligence Solu...",Bethesda,The Data Scientist shall provide data analysis...,145000.0,160000.0,MD,152500.0,1,False,False,False,False
41,SENIOR DATA SCIENTIST,Piper Companies,Reston,Responsibilities for the Lead Data Scientist i...,200000.0,220000.0,VA,210000.0,1,False,True,False,False
42,STATISTICAL DATA ANALYST - US CITIZEN,PeopleTek,Bethesda,STATISTICAL DATA ANALYST*. \uf0b7 Extract insi...,60000.0,70000.0,MD,65000.0,0,False,False,False,False
43,DATA SCIENTIST,Central Intelligence Agency,Washington,Data Scientists organize and interpret Big Dat...,62338.0,119794.0,DC,91066.0,0,False,False,False,False
44,DATA SCIENTIST - MID-LEVEL,National Security Agency,Fort Meade,"Exploit, fuse and use data and data sources. A...",79334.0,105663.0,MD,92498.5,0,False,False,False,False
45,DATA SCIENTIST ( CHINESE SPEAKING / DEEP LEARN...,Venturi Ltd,Washington,As the Senior Data Scientist you will:. Senior...,90000.0,125000.0,DC,107500.0,0,False,False,False,False
46,"DATA SCIENTIST, MACHINE LEARNING (PERM - DC)",Compri,Washington,Compri Consulting's global client is seeking a...,110000.0,110000.0,DC,110000.0,0,False,False,True,False
47,DATA SCIENTIST - OUSD(I)-HCMO-DCIPS,Red Gate Group,Arlington,Data Scientist (full-time contract). Under thi...,100000.0,125000.0,VA,112500.0,0,False,False,False,False
48,BIG DATA CLOUD ARCHITECT,Qlaire Systems Inc.,Washington,Demonstrated understanding of Master data Mana...,150000.0,150000.0,DC,150000.0,1,False,False,False,False
49,JAVA/BIG DATA ENGINEER,Jobspring Partners,Washington,These applications are transforming traditiona...,100000.0,130000.0,DC,115000.0,0,False,False,False,False
50,RESEARCH DATA ANALYST,Johns Hopkins University,Baltimore,Provides data verification based on specialize...,43871.0,60402.0,MD,52136.5,0,False,False,False,False
51,SR. RESEARCH DATA ANALYST,Johns Hopkins University,Baltimore,Carry out data analyses in parallel on large c...,50956.0,70095.0,MD,60525.5,0,False,False,False,False
52,SOFTWARE DATA SCIENTIST,CyberCoders,Walpole,Software Data Scientist Data Scientists with s...,100000.0,140000.0,MA,120000.0,0,False,False,False,False
53,DATA ANALYTICS ENGINEER,CEI,Philadelphia,Data Analytics Engineer*. An experienced data ...,85000.0,85000.0,PA,85000.0,0,False,False,False,False
54,DATA SCIENTIST,Smith Hanley Associates,Philadelphia,Data Scientist Qualifications:. Data Scientist...,120000.0,140000.0,PA,130000.0,1,False,False,False,False
55,"DATA SCIENTIST - MACHINE LEARNING, TEAM BUILDOUT",Workbridge Associates,Philadelphia,Experience creating Data Visualization; They d...,70000.0,125000.0,PA,97500.0,0,False,False,True,False
56,"DATA ANALYST/SCIENTIST (SAS, PYTHON, SQL)",Jobspring Partners,Philadelphia,A health services company that leverages techn...,90000.0,120000.0,PA,105000.0,0,False,False,False,True
57,"DATA SCIENTIST (R, SAS, PYTHON)",Jobspring Partners,Philadelphia,A global leader in sensor solutions is looking...,90000.0,130000.0,PA,110000.0,0,False,False,False,True
58,DATA SCIENTIST/OPTIMIZATION ENGINEER,Jobspring Partners,Philadelphia,In this role you will be extracting power plan...,100000.0,125000.0,PA,112500.0,0,False,False,False,False
59,DATA SCIENTIST/MACHINE LEARNING SPECIALIST,Jobspring Partners,Philadelphia,"A leading healthcare analytical team, one of t...",100000.0,160000.0,PA,130000.0,1,False,False,True,False
60,SENIOR DATA SCIENTIST HEALTHCARE,Harnham,Philadelphia,Senior Data Scientist - Healthcare. Reporting ...,170000.0,170000.0,PA,170000.0,1,False,True,False,False
61,SENIOR STATISTICIAN/DATA SCIENTIST-PHARMA,Smith Hanley Associates,Horsham,Statistician/Data Scientist Responsibilities. ...,120000.0,120000.0,PA,120000.0,0,False,True,False,False
62,DATA SCIENTIST,Liberty Personnel Services,Wilmington,Data Scientist \u2013 Financial Environment \u...,140000.0,140000.0,DE,140000.0,1,False,False,False,False
63,DATA SCIENTIST,Robert Walters,New York,About the Data Scientist:. Key Responsibilitie...,80000.0,120000.0,NY,100000.0,0,False,False,False,False
64,DATA SCIENTIST,Averity,New York,"Our team is made up of five data scientists, a...",125000.0,140000.0,NY,132500.0,1,False,False,False,False
65,LEAD DATA SCIENTIST – LIFE INSURANCE,Oliver James Associates,New York,Passionate about Data Science. Do you want to ...,160000.0,210000.0,NY,185000.0,1,True,False,False,False
66,SENIOR DATA SCIENTIST,Harnham,New York,Senior Data Scientist - Consulting. As a Senio...,180000.0,180000.0,NY,180000.0,1,False,True,False,False
67,SR. MODELING DATA SCIENTIST,S.C. International,New York,Large insurance organization is seeking talent...,130000.0,130000.0,NY,130000.0,1,False,False,False,False
68,DATA/RESEARCH ANALYST,"Eagle Technologies, Incorporated",Arlington,This individual will work with other data anal...,50000.0,89000.0,VA,69500.0,0,False,False,False,False
69,SENIOR DATA ENGINEER,Piper Companies,Reston,Collaborate with a team of other data engineer...,190000.0,200000.0,VA,195000.0,1,False,True,False,False
70,COMPUTATIONAL IMAGE DATA ANALYSIS MANAGER,Medical Science & Computing,Bethesda,Analysis of biopsy and resection samples from ...,100000.0,100000.0,MD,100000.0,0,False,False,False,False
71,DATA SCIENTIST,Jobspring Partners,Washington,Metro areas fastest growing data analytics sta...,100000.0,150000.0,DC,125000.0,1,False,False,False,False
72,SENIOR NLP DATA SCIENTIST,Elevano,New York,Parsing of structured/unstructured data. Our c...,140000.0,190000.0,NY,165000.0,1,False,True,False,False
73,SR. DATA SCIENTIST FOR FORTUNE 500 COMPANY,Averity,New York,Are you an experienced Senior Data Scientist l...,150000.0,190000.0,NY,170000.0,1,False,False,False,False
74,DATA SCIENTIST - MODELING,Harnham,New York,Data Scientist - Modeling. As a Data Scientist...,125000.0,125000.0,NY,125000.0,1,False,False,False,False
75,SENIOR DATA ENGINEER ( SEARCH / IR / PYTHON / ...,Venturi Ltd,New York,Senior Data Engineer / Search / IR / Python / ...,100000.0,250000.0,NY,175000.0,1,False,True,False,True
76,PRINCIPAL DATA SCIENTIST,Robert Walters,New York,About the Principal Data Scientist:. In these ...,130000.0,160000.0,NY,145000.0,1,False,False,False,False
77,DATA SCIENTIST,Workbridge Associates,Philadelphia,In this role you will be a large part of data ...,125000.0,130000.0,PA,127500.0,1,False,False,False,False
78,DATA SCIENTIST - RETAIL BANKING,Harnham,New York,Our client is interested in hiring a Data Scie...,120000.0,120000.0,NY,120000.0,0,False,False,False,False
79,CORPORATE VICE PRESIDENT DATA SCIENTIST - FRAU...,Oliver James Associates,New York,Passionate about Data Science. You will work c...,180000.0,180000.0,NY,180000.0,1,False,False,False,False
80,"VP, DATA SCIENTIST - BANKING",Harnham,New York,"VP, Data Scientist - Banking. Data Scientist |...",180000.0,180000.0,NY,180000.0,1,False,False,False,False
81,CHIEF DATA SCIENTIST - CONSULTING,Harnham,New York,Chief Data Scientist - Consulting. Chief Data ...,220000.0,220000.0,NY,220000.0,1,False,False,False,False
82,SENIOR DATA ANALYST ( EDTECH / R / DATAVIZ / D...,Venturi Ltd,New York,"Senior Data Analyst, R Programming, Education,...",100000.0,100000.0,NY,100000.0,0,False,True,False,False
83,SENIOR DATA ANALYST,Venturi,New York,Senior Data Analyst ( R / EdTech / DataViz / D...,100000.0,100000.0,NY,100000.0,0,False,True,False,False
84,DATA ENGINEER,Venturi,New York,Data Scientist / Machine Learning Engineer / M...,110000.0,170000.0,NY,140000.0,1,False,False,False,False
85,SENIOR DATA SCIENTIST - MODELING,Harnham,New York,Senior Data Scientist - Modeling. As a Senior ...,150000.0,150000.0,NY,150000.0,1,False,True,False,False
86,LEAD DATA SCIENTIST,Oliver James Associates,New York,"Integrate and mine large data sets, connecting...",100000.0,140000.0,NY,120000.0,0,True,False,False,False
87,LEAD / SENIOR DATA SCIENTIST FOR DIGITAL MEDIA...,Averity,New York,Are you a Senior Data Scientist looking to joi...,130000.0,160000.0,NY,145000.0,1,True,True,False,False
88,"SENIOR DATA MANAGER, FAMILY AND CHILD HEALTH A...",DEPT OF HEALTH/MENTAL HYGIENE,Queens,Developing and implementing data quality assur...,78630.0,103332.0,NY,90981.0,0,False,True,False,False
89,CORPORATE VICE PRESIDENT DATA SCIENTIST – MARK...,Oliver James Associates,New York,Passionate about Data Science. You will work c...,180000.0,180000.0,NY,180000.0,1,False,False,False,False
90,SENIOR NLP DATA SCIENTIST,Elevano,New York,Parsing of structured/unstructured data. Our c...,140000.0,190000.0,NY,165000.0,1,False,True,False,False
91,"DATA ANALYST, BUREAU OF SYSTEMS STRENGTHENING ...",DEPT OF HEALTH/MENTAL HYGIENE,Queens,Experience in pooling data from disparate sour...,78630.0,90425.0,NY,84527.5,0,False,False,False,False
92,STATISTICAL DATA ANALYST (US CITIZEN),PeopleTek,Bethesda,"Of various data, reporting, and a wide variety...",65000.0,75000.0,MD,70000.0,0,False,False,False,False
93,SENIOR DATA SCIENTIST,Jobspring Partners,Washington,Specifically this company is looking for a Sen...,100000.0,160000.0,DC,130000.0,1,False,True,False,False
94,MACHINE LEARNING DATA ENGINEER,Jobspring Partners,Washington,Professional Data Science experience. Familiar...,100000.0,140000.0,DC,120000.0,0,False,False,True,False
95,SENIOR DATA SCIENTIST - HEALTHCARE,Harnham,Philadelphia,Senior Data Scientist - Healthcare. Reporting ...,140000.0,170000.0,PA,155000.0,1,False,True,False,False
96,HEBREW SPEAKING DATA SCIENTIST,The Talent Solution,New York,A rapidly growing media and online content dis...,80000.0,140000.0,NY,110000.0,0,False,False,False,False
97,DIRECTOR OF DATA SCIENCE (STARTUP 50+ PEOPLE),Averity,New York,You will be leading a team of two data scienti...,160000.0,190000.0,NY,175000.0,1,False,False,False,False
98,VP MODELING DATA SCIENTIST,S.C. International,New York,Insurance organization is seeking a Corporate ...,150000.0,150000.0,NY,150000.0,1,False,False,False,False
99,DATA SCIENCE ENGINEER,Harnham,New York,Working closely with Data Scientists to unders...,180000.0,180000.0,NY,180000.0,1,False,False,False,False
100,AVP - BUSINESS MANAGEMENT AND DATA ANALYSIS,Mission Staffing,New York,"Data Analyst opening at Top Fund! Management, ...",101000.0,125000.0,NY,113000.0,0,False,False,False,False
101,DATA ANALYST,Jobspring Partners,Washington,Experience using data visualization tools such...,100000.0,150000.0,DC,125000.0,1,False,False,False,False
102,DATA SCIENTIST - OUSD(I)-HCMO-DCIPS,Red Gate Group,Arlington,Data Scientist (full-time contract). Under thi...,100000.0,125000.0,VA,112500.0,0,False,False,False,False
103,SENIOR DATA SCIENTIST,Oliver James Associates,New York,Passionate about Data Science. You will work c...,130000.0,160000.0,NY,145000.0,1,False,True,False,False
104,DATA / QUANTITATIVE ANALYST,Execu | Search,New York,"In this role, the Data / Quantitative Analyst ...",100000.0,150000.0,NY,125000.0,1,False,False,False,False
105,LEAD DATA ENGINEER / ARCHITECT FOR MACHINE LEA...,Averity,New York,As our Lead Data Engineer / Architect Data Sci...,175000.0,240000.0,NY,207500.0,1,True,False,True,False
106,SENIOR DATA SCIENTIST FOR MULTI-MILLION DOLLAR...,Averity,New York,"Ultimately, we are searching for an intelligen...",150000.0,200000.0,NY,175000.0,1,False,True,False,False
107,SENIOR DATA SCIENTIST,Execu | Search,New York,The Senior Data Scientist will:. An investment...,150000.0,250000.0,NY,200000.0,1,False,True,False,False
108,SENIOR/ VP DATA SCIENTIST FOR MULTI-BILLION DO...,Averity,New York,"As a Data Scientist, you will help join a team...",200000.0,300000.0,NY,250000.0,1,False,True,False,False
109,SENIOR DATA ENGINEER,Workbridge Associates,New York,They need a Senior Data Engineer who has exper...,130000.0,170000.0,NY,150000.0,1,False,True,False,False
110,"SENIOR SOFTWARE ENGINEER JAVA, J2EE, HADOOP, B...",The Bivium Group,Newton,"You'll get to work in very complex Java, J2EE,...",90000.0,140000.0,MA,115000.0,0,False,True,False,False
111,DATA VISUALIZATION DEVELOPER - ALL NEW D3 BASE...,The Bivium Group,Framingham,Company has several talented data scientists a...,80000.0,130000.0,MA,105000.0,0,False,False,False,False
112,DATA SCIENTIST,Robert Walters,New York,"Data Scientist, Financial Crime Analytics. A j...",60000.0,140000.0,NY,100000.0,0,False,False,False,False
113,DATA SCIENTIST,CyberCoders,Washington,Data Scientist If you are a Data Scientist wit...,110000.0,150000.0,DC,130000.0,1,False,False,False,False
114,VP MODELING DATA SCIENTIST,S.C. International,New York,Insurance organization is seeking a Corporate ...,150000.0,150000.0,NY,150000.0,1,False,False,False,False
115,DATA SCIENTIST UI SDLC - TS/SCI FULL SCOPE POLY,WSI Nationwide,Reston,Data Scientist UI SDLC - TS/SCI Full Scope Pol...,125000.0,190000.0,VA,157500.0,1,False,False,False,False
116,DATA SCIENTIST,Averity,New York,As a Senior / Lead Data Scientist in the Machi...,120000.0,160000.0,NY,140000.0,1,False,False,False,False
117,SENIOR DATA SCIENTIST,Oliver James Associates,New York,Passionate about Data Science. You will work c...,160000.0,180000.0,NY,170000.0,1,False,True,False,False

# Lets get our model going with our new jobtitle model

In [34]:
location_job_df = pd.concat([location_df,df_boo_jobs['Machine'],df_boo_jobs['Python'],df_boo_jobs['Senior'],df_boo_jobs['Lead']], axis=1)

In [35]:
y = df['Above Median 125k']
X = location_job_df
cv = StratifiedKFold(y, n_folds=3, shuffle=True, random_state=41)

In [36]:
dt = RandomForestClassifier(class_weight='balanced')
dt.fit(X,y)
s = cross_val_score(dt, X, y, cv=cv, n_jobs=-1)
print "{} Score:\t{:0.3} ± {:0.3}".format("Random Forest with Balanced Classes", s.mean().round(3), s.std().round(3))

Random Forest with Balanced Classes Score:	0.715 ± 0.01

In [37]:
importance_dataframe_big2 = pd.DataFrame(dt.feature_importances_, index = X.columns, columns=['importance']).sort_values('importance', ascending=False)
importance_dataframe_big2.head(20)

               importance
Senior           0.080304
Machine          0.079027
San Francisco    0.079017
New York         0.068124
CA               0.063292
Lead             0.046756
Charlotte        0.034999
NY               0.028116
Python           0.027291
Boston           0.017829
San Mateo        0.017646
Queens           0.016238
Campbell         0.016147
Manhattan        0.016028
Los Angeles      0.015619
San Jose         0.014364
Reston           0.012982
GA               0.011981
Austin           0.010632
DC               0.010384

## on average of our forests we imporved our model a little bit by including our job keywords

# Vectorizing text

### vec_ing Description

In [38]:
vec_desc = CountVectorizer(stop_words='english', min_df=12)
vec_desc.fit(df.Description)

CountVectorizer(analyzer=u'word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.int64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=1.0, max_features=None, min_df=12,
        ngram_range=(1, 1), preprocessor=None, stop_words='english',
        strip_accents=None, token_pattern=u'(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [39]:
vec_desc_df = vec_desc.transform(df.Description)
# trnasoform here deals with each column individually

In [40]:
df_desc_words = pd.DataFrame(vec_desc_df.todense(), columns=vec_desc.get_feature_names())
df_desc_words
print df_desc_words.shape

(424, 81)

In [41]:
# word_counts = df_desc_words.sum(axis=0)
# word_counts.sort_values(ascending = False).head(82)
# # 139 is 10% rounded up to prevent cutting off at the same value exported to csv

### vec_ing Job title

In [42]:
vec_job = CountVectorizer(stop_words='english',min_df=10)
vec_job.fit(df.Job)

CountVectorizer(analyzer=u'word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.int64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=1.0, max_features=None, min_df=10,
        ngram_range=(1, 1), preprocessor=None, stop_words='english',
        strip_accents=None, token_pattern=u'(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [43]:
vec_job_df = vec_job.transform(df.Job)
# trnasoform here deals with each column individually

In [44]:
df_job_words = pd.DataFrame(vec_job_df.todense(), columns=vec_job.get_feature_names())
df_job_words
print df_job_words.shape

(424, 22)

In [45]:
#  word_counts = df_job_words.sum(axis=0)
#  word_counts.sort_values(ascending = False).head(27)
# # # 27 is 10% rounded up to prevent cutting off at the same value exported to csv

## vec_ing company (becuase why not?)

In [46]:
vec_comp = CountVectorizer(stop_words='english',min_df=10)
vec_comp.fit(df.Company)

CountVectorizer(analyzer=u'word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.int64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=1.0, max_features=None, min_df=10,
        ngram_range=(1, 1), preprocessor=None, stop_words='english',
        strip_accents=None, token_pattern=u'(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [47]:
vec_comp_df = vec_comp.transform(df.Company)
# trnasoform here deals with each column individually

In [48]:
df_comp_words = pd.DataFrame(vec_comp_df.todense(), columns=vec_comp.get_feature_names())
df_comp_words
print df_comp_words.shape

(424, 25)

In [49]:
#  word_counts = df_comp_words.sum(axis=0)
#  word_counts.sort_values(ascending = False).head(25)
# # # # 26 is 10% rounded up to prevent cutting off at the same value exported to csv

### Concat all the vecs and the local dummies

In [50]:
vec_words = pd.concat([location_df,df_desc_words, df_job_words, df_comp_words], axis=1) #
model_predictor = vec_words
model_predictor = model_predictor.loc[:, (model_predictor != 0).any(axis=0)] ## Drop any columns that contain only 0
model_predictor.shape

(424, 248)

# now lets model with random tress using all of our vecs and local dummies

In [51]:
y = df['Above Median 125k']
X = model_predictor
cv = StratifiedKFold(y, n_folds=3, shuffle=True, random_state=41)

In [52]:
dt = RandomForestClassifier(class_weight='balanced')
dt.fit(X,y)
s = cross_val_score(dt, X, y, cv=cv, n_jobs=-1)
print "{} Score:\t{:0.3} ± {:0.3}".format("Random Forest with Balanced Classes", s.mean().round(3), s.std().round(3))

Random Forest with Balanced Classes Score:	0.766 ± 0.061

In [53]:
importance_dataframe_big3 = pd.DataFrame(dt.feature_importances_, index = X.columns, columns=['importance']).sort_values('importance', ascending=False)
importance_dataframe_big3['Feat'] = importance_dataframe_big3.index
importance_dataframe_big3.to_csv('All feat tabby.csv',index = False)
importance_dataframe_big3.head(20)

            importance        Feat
analyst       0.096344     analyst
CA            0.038309          CA
data          0.028970        data
research      0.027710    research
senior        0.026646      senior
learning      0.019145    learning
engineer      0.017566    engineer
New York      0.016169    New York
scientist     0.015358   scientist
scientist     0.014770   scientist
experience    0.014380  experience
university    0.013593  university
analyst       0.013564     analyst
analytics     0.012254   analytics
data          0.012191        data
lead          0.012132        lead
analysis      0.011697    analysis
GA            0.011684          GA
averity       0.011320     averity
company       0.010630     company

#### Repeat the model-building process with a non-tree-based method.

In [54]:
from sklearn.svm import SVC
model_svmrbf = SVC(kernel='rbf')
scores_svm = cross_val_score(model_svmrbf, X, y, cv=6)
print 'Cross-validated scores:', scores_svm
print 'Average score:', scores_svm.mean()
print 'Standard deviation of score:', scores_svm.std()

Cross-validated scores: [ 0.73611111  0.66197183  0.6056338   0.8         0.98571429  0.74285714]
Average score: 0.755381362248
Standard deviation of score: 0.120223367947

In [55]:
model_svmlm = SVC(kernel='linear')
scores_svmlm = cross_val_score(model_svmlm, X, y, cv=6)
print 'Cross-validated scores:', scores_svmlm
print 'Average score:', scores_svmlm.mean()
print 'Standard deviation of score:', scores_svmlm.std()

Cross-validated scores: [ 0.70833333  0.70422535  0.76056338  0.65714286  0.8         0.64285714]
Average score: 0.712187010955
Standard deviation of score: 0.0547206884648

In [56]:
## YOUR CODE HERE